/* Basic Styles  and MaterializeCSS overrides */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {

  margin: .25rem !important;
}

h2 {

  margin: .25rem !important;
}

h3 {

  margin: .25rem !important;
}

h4 {

  margin: .25rem !important;
}

h5 {
  
  margin: .25rem !important;
}

h6 {

  margin: .25rem !important;

}

h1 {
  font-size: var(--font-size-6);
}
h2 {
  font-size: var(--font-size-5);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h5 {
  font-size: var(--font-size-2);
}
h6 {
  font-size: var(--font-size-1);
}
.wrapper {
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, .08);
  @include padding(1rem);
  @include margin(1rem null);
}

.inner-shadow {
  // box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
}
section::after {
  display: block;
  content: "";
  height: 350px;
  width: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);

}
section#menu::after {
  background: url("../img/hot-pie-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#calendar::after {
  background: url("../img/aboutbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#newsletter::after {
  background: url("../img/mypie-pie1600x1068.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#newsletter::after {
  background: url("../img/mypie-pie1600x1068.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#contact::after {
  background: url("../img/mypie-pie1600x1068.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#full-calendar::after {
  background: url("../img/aboutbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section#get-social::after {
  display: none;
  content: "";
  height: 350px;
  width: 100%;
  background: url("../img/aboutbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* footer */

.footer-boxes {
border-radius: 3px;
 padding: 10px !important;
}

