// Global Settings

body {
  color: var(--mypie-dark-grey);
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
  @media (min-width: 768px) {
    body {
      margin-top: 700px;
    }
  
  }

}

img {
  width: 100%;
  display: block;
}

#main{
  @media(min-width: 768px){
    border-top: solid 4px black;
    @include padding(4rem null);
  }

}
.section-title{
  text-align: center;
  margin-bottom: .5rem;
}