// Global Settings

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // color: var(--mypie-dark-grey);
  margin-top: 79px;
  @media (min-width: 768px) {
      margin-top: 50px;
  }
}
h1 {
  @include margin(1rem null);
}
img {
  width: 100%;
  display: block;
}
.span{
  grid-column:  1 / -1;
}
#main{
  @media(min-width: 768px){
    border-top: solid 4px black;

  }
}
section{
@include padding(2rem null);
}

.section-title{
  text-align: center;
  margin-bottom: .5rem;
}
a:focus{
  outline: none;
}

.sidebar-item:nth-child(1){
  @include margin(4rem null);
}
h2.section-title{
  margin: 0;
  padding: 0;
}

.form-group{
  position: relative;
}