// Global Styles
// HTML Styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 70px;

  @media (min-width: 768px) {
    margin-top: 78px;
  }

  @media (min-width: 992px) {
    margin-top: 55px;
  }
}

a:focus {
  outline: none;
}

// Custom Styles
section .container,
section .container-fluid {
  background: $mypie-light;
  @include padding(1em null);
}

section:last-of-type {
  background: $mypie-light;
  @include padding(1em null 4em);
}

.container-fluid {
  max-width: 1200px;

}

.text-muted {
  color: $mypie-md-grey;
}

.span {
  grid-column: 1 / -1;
}

.section-title,
.page-title {
  text-align: center;
}

.form-group {
  position: relative;
}

.menu-divider:last-of-type {
  display: none;
}