// Global Settings

body {
  color: var(--mypie-dark-grey);
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
  @media (min-width: 768px) {
      margin-top: 50px;
  }
}
h1 {
  @include margin(1rem null);
}
img {
  width: 100%;
  display: block;
}

#main{
  @media(min-width: 768px){
    border-top: solid 4px black;
    // @include padding(2rem null);
  }

}
section{

  @include padding(3rem null);
}
.section-title{
  text-align: center;
  margin-bottom: .5rem;
}
a:focus{
  outline: none;
}
.headshot{
  width: 10rem;
  @include border-radius(100%);
  float: left;
  shape-outside: circle();
 margin-right: 2rem;
 margin-bottom: .5rem;
}
.sidebar-item:nth-child(1){
  @include margin(4rem null);
}