// Global Styles
// HTML Styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 64px;

  @media (min-width: 768px) {
    margin-top: 78px;
  }

  @media (min-width: 992px) {
    margin-top: 55px;
  }
}


// Custom Styles
section {
  @include padding(4rem null);

  a {
    display: inline;
    color: $mypie-red;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

    transition: all 125ms ease-in;
    @include padding(null .25rem);



    &:hover {
      color: $mypie-red;
      text-decoration: none;
      outline: 3px dashed $mypie-red;
    }
  }
}

section .container,
section .container-fluid {
  background: $mypie-light;
  @include padding(1em null);
}

section:last-of-type {
  background: $mypie-light;
  @include padding(1em null 4em);
}

.container-fluid {
  max-width: 1200px;

}

.text-muted {
  color: $mypie-md-grey;
}

.span {
  grid-column: 1 / -1;
}

.section-title,
.page-title {
  text-align: center;
}

.form-group {
  position: relative;
}

.menu-divider:last-of-type {
  display: none;
}