// Vendor Tools
@import "vendor/vendor";
@import "vars/vars";
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: $mypie-light;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 2.5rem;
  @include padding(1rem null);
}
#menu-board-style {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.menu-wrapper {
  min-height: 100vh;
  min-width: 98vw;
  display: grid;
  grid-column-gap: .5rem;
  justify-content: center;
  grid-template-areas:
    "mb-pie mb-pie"
    "mb-sides mb-sides"
    "mb-sausage mb-puds"
    "mb-takeaway mb-takeaway";
    // "mb-drinks mb-drinks"
}
.box {
  font-size: 2rem;
  background-color: $mypie-light;
}
.mb-pie-box {
  grid-area: mb-pie;
}
.mb-sausage-box {
  grid-area: mb-sausage;
}
.mb-sides-box {
  grid-area: mb-sides;
}
.mb-puds-box {
  grid-area: mb-puds;
}
.mb-takeaway-box {
  grid-area: mb-takeaway;
}
.mb-drinks-box {
  grid-area: mb-drinks;
}

.menu-title {
  background: $mypie-red;
  color: $mypie-light;
  @include padding(null 0.5rem);
  font-weight: 700;
  text-align: center;
  text-shadow: $text-shadow;
}
.menu-items {
  display: flex;
  flex-flow: row nowrap;
  // font-weight: bolder;
  font-weight: 700;
  color: #000;
  border-bottom: dashed 1px rgba($mypie-accent-red, 0.3);
}
.menu-items:nth-last-child(1){
  border-bottom: none;
}

.menu-item {
  @include padding(1rem 1rem);
  // line-height: 1.2;
}

.menu-item-title {
  flex: 1.2;
  text-align: left;
  font-weight: bold;
}

.menu-item-description {
  flex: 4;
  text-align: left;
}

.menu-item-price {
  flex: 0.75;
  font-style: italic;
  text-align: right;
}

.sold-out {
  text-decoration: line-through;
  color: $mypie-accent-red;
}
