<section id="dailymenu">
    <div class="container-fluid container-home">
        <h2 class="center-align">Menu for April 19, 2018 </h2>

        <div class="menu-wrapper">
            <div id="pie-box">
                <h4 class="menu-title center-align">Pie w/mash or salad + gravy</h4>
                <span class="menu-items">
                    <div class="menu-item menu-item-title"> BEEF:&nbsp;</div>
                    <div class="menu-item menu-item-description">Hampshire minced beef, black pud, Smoked cheddar </div>
                    <div class="menu-item right-align right-align menu-item-price">£7.50</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title">VEGGIE:&nbsp; </div>
                    <div class="menu-item menu-item-description">Aubergine, spiced tomato, goats curd</div>
                    <div class="menu-item right-align menu-item-price"> £7.00</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title">CHICKEN: &nbsp;</div>
                    <div class="menu-item menu-item-description">Free range chicken, smoked ham, leek, tarragon (Class Champion)</div>
                    <div class="menu-item right-align menu-item-price">£7.50</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title">GUEST:</div>
                    <div class="menu-item menu-item-description">skis cooked gammon hock, mustard, peas, leeks</div>
                    <div class="menu-item right-align menu-item-price">£7.50</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title">GUEST:</div>
                    <div class="menu-item menu-item-description">20 hour cider braised pork shoulder, bacon, onions</div>
                    <div class="menu-item right-align menu-item-price">£7.50</div>
                </span>
            </div>
            <div id="takeaway-box">
                <h4 class="menu-title center-align">Takeaway Pies</h4>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title"> BEEF:</div>
                    <div class="menu-item menu-item-description">Hampshire minced beef, black pud, Smoked cheddar </div>
                    <div class="menu-item right-align right-align menu-item-price">£6.00</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title">VEGGIE:</div>
                    <div class="menu-item menu-item-description">British Broccoli, shallots, stilton</div>
                    <div class="menu-item right-align menu-item-price"> £7.00</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-title">CHICKEN:</div>
                    <div class="menu-item menu-item-description">Free range chicken, smoked ham, leek, tarragon (Class Champion)</div>
                    <div class="menu-item right-align menu-item-price">£7.50</div>
                </span>
            </div>
            <div id="sides-box">
                <h4 class="menu-title center-align">Awesome Sides</h4>
                <span class=" menu-items">
                    <div class="menu-item menu-item-description"> Maris piper mash, butter, cream</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-description"> Salad: cucumber, tomato, feta, cous cous, spinach, olives</div>
                </span>
                <span class=" menu-items">
                    <div class="menu-item menu-item-description">Peas</div>
                    <div class="menu-item right-align menu-item-price">50P</div>
                </span>
            </div>
            <div id="sausage-box">
                <h4 class="menu-title center-align">Sausage Rolls</h4>
                <span class=" menu-items">
                    <div class="menu-item menu-item-description">Free range pork and stilton</div>
                    <div class="menu-item right-align menu-item-price">£2.50</div>
                </span>
            </div>
            <div id="puds-box">
                <h4 class="menu-title center-align">Puds</h4>
                <span class=" menu-items">
                    <div class="menu-item menu-item-description">Double choc and peanut butter brownie </div>
                    <div class="menu-item right-align menu-item-price">£2.50</div>
                </span>
            </div>

        </div>
    </div>
</section>