{% extends '_sidebar_layout.html' %}

{% block main %}

<section id="about-main">
        <div class="container">
      
            {% for p in page.pagelets if p.name == 'title' %}
      <h1 class="page-title">{{ p.title }}</h1>
      {{ p.content_html }}

      {% endfor %}
   
            <div class="about-wrapper">
              {% for p in page.pagelets if p.name != 'title' %}
                <div class="about-content">
                 <h2 class="section-title">{{ p.title }}</h2>
                 {{ p.content_html}}
                </div>
               {% endfor %}
              </div>
        </div>
      
      </section>

{% endblock %}

