{% extends '_sidebar_layout.html' %}

{% block main %}

<section id="about-main">
    <div class="container">
        <!-- Page Title -->
        {% for p in page.pagelets if p.name == 'title' %}
        <h1 class="page-title">{{ p.title }}</h1>
        {{ p.content_html }}
        {% endfor %}


        <!-- Page Content -->
        
                {% for p in page.pagelets if p.name == 'about_us' %}
                <h2 class="d-none ">{{ p.title }}</h2>
                {% endfor %}

        <img class="img-fluid mx-auto" src="assets/img/mypie-chris1.jpg" alt="Chris Brumby serving up delicious pies">

             

                {% for p in page.pagelets if p.name == 'about_us' %}
                <h2 class="d-none">{{ p.title }}</h2>
              
                    {{ p.content_html }}
               

                {% endfor %}
            </div>
      
</section>


{% endblock %}