{% extends '_sidebar_layout.html' %}
{% block title %}{{ page.title }}{% endblock %}
{% block metadescription %} {{ page.meta_description }}{% endblock %}

{% block main %}
<section id="events-main">
    <div class="container-fluid">
        <!-- Page Title -->
        {% for p in page.pagelets if p.name == 'title' %}
        <h1 class="page-title">{{ p.title }}</h1>

        {% if p.content_html %}
        <div class="page-title-blurb">
            {{ p.content_html }}
        </div>
        {% endif %}

        {% endfor %}
        <div class="row">
            <div class="col-12">
                {% for p in page.pagelets if p.name == 'catering' %}
                <h2 class=""> {{ p.title }} </h2>
                {% endfor %}
            </div>
        </div>
        <div class="row events-card">
            <div class="col-md-6 order-md-2">
                <img class="img-fluid mx-auto" src="/assets/img/compressed/catering.jpg" alt="">
            </div>
            <div class="col-md-6 order-md-1">
                {{ page.pagelets.catering.content_html }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                {% for p in page.pagelets if p.name == 'festivals' %}
                <h2 class=""> {{ p.title }} </h2>
                {% endfor %}
            </div>
        </div>
        <div class="row events-card">
            <div class="col-md-6">
                <img class="img-fluid mx-auto" src="/assets/img/compressed/festivals.jpg" alt="">
            </div>
            <div class="col-md-6">
                {{ page.pagelets.festivals.content_html }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                {% for p in page.pagelets if p.name == 'weddings' %}
                <h2 class=""> {{ p.title }} </h2>
                {% endfor %}
            </div>
        </div>
        <div class="row events-card">
            <div class="col-md-6 order-md-2">
                <img class="img-fluid mx-auto" src="/assets/img/compressed/weddings.jpg" alt="Wedding Catered by MYPIE">

            </div>
            <div class="col-md-6 order-md-1">
                {{ page.pagelets.weddings.content_html }}
            </div>
        </div>
    </div>
</section>


{% endblock %}