{% extends '_sidebar_layout.html' %} {% block main %}

<section id="events-main">
    <div class="container">
            {% for p in page.pagelets if p.name == 'title' %}
<div class="row">
<div class="col-xs-12">
        <h1 class="page-title">{{ p.title }}</h1>
</div>
</div>
<div class="row">
    <div class="col-md-6">       
            {{ p.content_html }}</div>
    <div class="col-md-6">
            <div id="contact-us">
                    {% set emailSubjectLine = 'MyPie Events Enquiry' %} {% include 'includes/_contactForm.html' %}
                  </div>
    </div>

</div>

{% endfor %}

        <div class="row events-card">
            <div class="col-md-6 events-content">{{ page.pagelets.catering.content_html }}</div>
            <div class="col-md-6">
                <img  class="img-fluid mx-auto" src="/assets/img/insta/mypie-pie1.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="row events-card">
            <div class="col-md-6 events-content order-md-2"> 
              {{ page.pagelets.festivals.content_html }}
            </div>
            <div class="col-md-6 order-md-1"> 
              <img  class="img-fluid mx-auto" src="/assets/img/insta/mypie-sm-truck.jpg" alt="">
            </div>
        </div>
        <hr>
        <div class="row events-card">
            <div class="col-md-6 events-content"> 
              {{ page.pagelets.weddings.content_html }}
            </div>
            <div class="col-md-6"> 
              <img  class="img-fluid mx-auto" src="/assets/img/insta/wedding.png" alt="Wedding Catered by MYPIE">
            </div>
        </div>


    </div>
</section>

{% endblock %}

