{% extends '_sidebar_layout.html' %} 
{% block title %}Dashboard - Home{% endblock %} 
{% block blurb %}{% endblock %} 
{% block id %}admin-home{% endblock %} 

{% block main %}
<section id="events-main">
    <div class="container-fluid">
        <!-- Page Title -->
        {% for p in page.pagelets if p.name == 'title' %}
        <h1 class="page-title">{{ p.title }}</h1>
        <div class="page-title-blurb">
                {{ p.content_html }}
            
        </div>
      
        {% endfor %}
        <div class="row">
            <div class="col-12">
                {% for p in page.pagelets if p.name == 'catering' %}
                <h2 class=""> {{ p.title }} </h2>
                {% endfor %}
            </div>
        </div>
        <div class="row events-card">
            <div class="col-md-6 order-md-2">
                <img class="img-fluid mx-auto" src="/assets/img/insta/mypie-pie1.jpg" alt="">
            </div>
            <div class="col-md-6 order-md-1">
                {{ page.pagelets.catering.content_html }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                {% for p in page.pagelets if p.name == 'festivals' %}
                <h2 class=""> {{ p.title }} </h2>
                {% endfor %}
            </div>
        </div>
        <div class="row events-card">
            <div class="col-md-6">
                    <img class="img-fluid mx-auto" src="/assets/img/insta/mypie-sm-truck.jpg" alt="">
            </div>
            <div class="col-md-6">
                    {{ page.pagelets.festivals.content_html }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                {% for p in page.pagelets if p.name == 'weddings' %}
                <h2 class=""> {{ p.title }} </h2>
                {% endfor %}
            </div>
        </div>
        <div class="row events-card">
            <div class="col-md-6 order-md-2">
                    <img class="img-fluid mx-auto" src="/assets/img/insta/wedding.png" alt="Wedding Catered by MYPIE">

            </div>
            <div class="col-md-6 order-md-1">
                    {{ page.pagelets.weddings.content_html }}
            </div>
        </div>
    </div>
</section>


{% endblock %}