{% extends '_sidebar_layout.html' %}

{% block title %}{{ page.title }}{% endblock %}
{% block metadescription %}Past pies{% endblock %}
{% block main %}

<section id="menu-archive">
    <div class="container-fluid">
        <h1 class="page-title">Past Pie Menus</h1>
        <div class="card-deck">
            {% for menu in page.menuList if menu.items %}
            <div class="card">
                <h4 class="card-title">{{ menu.location}} | {{ menu.date|date('j M Y')}}</h4>

                {# This next line summarizes and keeps a handy flag of which menu sections are available #}
                {% set available = availableMenuSections(menu.items) %}

                {% if available.dailypies %}
                <div class="card-content" >
                    <ul class="list-group">
                        {% for m in menu.items if m.section == 'dailypies' %}
                        <li class="list-group-item" > <strong>{{m.type }}</strong> | {{ m.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% else %}{# Outer menuList loop #}
            <h2 class="section-title">No Old Menus Found</h2>
            {% endfor %}
        </div>
       
        {{ pagination() }}
    </div>
</section>



{% endblock %}