{% extends '_sidebar_layout.html' %} {% block main %}
<section id="supplier-main">
  <div class="container-fluid">
    <h1>MYPIE Supplier </h1>
    <hr> 
    
    {% if page.supplier.logo %}
    <div class="supplier-wrapper">
      <div class="logo-wrapper">
          <h2 class="supplier-title">{{ page.supplier.name }}</h2>
        <div class="supplier-logo-wrapper">
          <img class="img-fluid supplier-logo" src="{{ page.supplier.logo }}" alt="{{ page.supplier.name }} logo">
        </div>
      </div>
      {% endif %}

      <div class="supplier-blurb-wrapper">
       
            <div class="supplier-content-wrapper">
                {{ page.supplier.content_html }}
                <p><a class="btn btn-primary btn-sm" href="/suppliers">Back to Suppliers</a></p>
              </div>

        <div class="details-wrapper">
            {% if page.supplier.supplier_url %}
            <div class="supplier-url">
                <i class="fas fa-external-link-alt"></i>
               <a href="{{ page.supplier.supplier_url }}" target="_blank">{{ page.supplier.name }}</a>
            </div>
            {% endif %} {% if page.supplier.phone %}
            <div class="supplier-phone">
                <i class="fas fa-phone"></i> 
              <a href="tel:{{ page.supplier.phone }}">{{ page.supplier.phone }}</a> 
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}