{% extends '_sidebar_layout.html' %}
{% block title %}{{ page.title }}{% endblock %}
{% block metadescription %}{{ page.meta_description }}{% endblock %}
{% block main %}

<section id="suppliers-main">
  <div class="container-fluid">
    {% for p in page.pagelets if p.name == 'title' %}
    <h1 class="page-title">{{ p.title }}</h1>
    <div class="title-blurb">
      {{ p.content_html }}
    </div>
    {% endfor %}

    <!-- Begin Supplier Cards -->
    <div class="card-deck">
      {% for s in publishedSuppliers() %}
      <div class="card">
        {% if s.logo %}
        <img class="card-img-top" src="{{ s.logo }}" alt="Supplier logo image">
        {% endif %}
        <div class="card-body">
          <h2 class="card-title">{{ s.name }}</h2>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm btn-read-more" href="{{ pathFor('showSupplier', {'name': s.url}) }}">Read More</a>
          {% if s.supplier_url %}
          <a class="btn btn-secondary btn-sm btn-visit" target="_blank" href="{{ s.supplier_url }}">Visit <i class="fas fa-external-link-alt"></i> </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- End Supplier Cards -->

  </div>
</section>

{% endblock %}