{% extends '_sidebar_layout.html' %}

{% block main %}
<div class="container">
     
    {{ dump(page.pagelets.suppliers_desc.content_html) }}    


   {{ page.pagelets.suppliers_desc.content_html }}     

   
   <h2>Suppliers</h2>
   <p>Cupcake ipsum dolor sit amet dragée candy candy lollipop. Tootsie roll gummi bears marshmallow sweet roll marzipan chupa chups. Carrot cake chocolate cheesecake caramels fruitcake biscuit. Chocolate gummies cake carrot cake. Icing pie dragée. Apple pie oat cake sugar plum brownie gingerbread jelly dessert. Dragée ice cream chupa chups halvah caramels.</p>
   
   
   
   
   <!-- <p class="lead">
        {{ page.pagelets.news.content }}
</p> -->

</div>

{% endblock %}