{% extends '_sidebar_layout.html' %} {% block main %}

<section id="suppliers-main">
  <div class="container">
    {% for p in page.pagelets if p.name == 'title' %}
    <h1 class="page-title">{{ p.title }}</h1>
    <div class="title-blurb">
      {{ p.content_html }}
    </div>
    {% endfor %}

    <!-- Begin Supplier Cards -->
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://source.unsplash.com/random/350x150" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">p.title</h2>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm btn-read-more" href="/supplier">Read More</a>
          <a class="btn btn-success btn-sm btn-visit" target="_blank" href="http://cnn.com">Visit Website</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://source.unsplash.com/random/351x150" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">p.title</h2>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm btn-read-more" href="/supplier">Read More</a>
          <a class="btn btn-success btn-sm btn-visit" target="_blank" href="http://cnn.com">Visit Website</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://source.unsplash.com/random/352x200" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">p.title</h2>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm btn-read-more" href="/supplier">Read More</a>
          <a class="btn btn-success btn-sm btn-visit" target="_blank" href="http://cnn.com">Visit Website</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://source.unsplash.com/random/353x353" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">p.title</h2>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm btn-read-more" href="/supplier">Read More</a>
          <a class="btn btn-success btn-sm btn-visit" target="_blank" href="http://cnn.com">Visit Website</a>
        </div>
      </div>
    </div>
    <!-- End Supplier Cards -->

  </div>
</section>

{% endblock %}