:root {
    --mypie-red: #ed1c24;
    --mypie-dark: #231f20;
    --mypie-light-grey: #c4c8cf;
    --mypie-md-grey: #8b9399;
    --mypie-dark-grey: #756d6e;
    --mypie-accent-red: #6e1e21;
    --light: #ffffff;
  }

  // RGBA EQUIVILENTS

  // --mypie-red: #ed1c24;
  // --mypie-dark: #231f20;
  // --mypie-light-grey: #c4c8cf;
  // --mypie-md-grey: #8b9399;
  // --mypie-dark-grey: #756d6e;
  // --mypie-accent-red: #6e1e21;
  // --light: #ffffff;