<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPie Admin Dashboard</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/admin-main.css">
</head>

<body>

    <div class="navbar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ pathFor('adminHome') }}" class="nav-link">
                    <i class="center fas fa-home fa-2x"></i>
                    <div class="nav-description">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ pathFor('showMenus') }}">
                    <i class="center fas fa-edit fa-2x"></i>
                    <div class="nav-description">Menu</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ pathFor('showPages') }}">
               
                    <i class="center fas fa-wrench fa-2x"></i>
                    <div class="nav-description">Pages</div>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="center fas fa-question fa-2x"></i>
                    <div class="nav-description">Help</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- <li class="nav-item">
            <a class="nav-link" href="{{ pathFor('showMenuItemDefaults') }}">Menu Defaults</a>
        </li> -->
    <div class="right-container">
        {% block body %}
        
        
        {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ basePath() }}/assets/js/admin.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById('mde'),
            forceSync: true,
            hideIcons: ['heading', 'quote', 'image']
        });
    </script>
</body>

</html>