<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPie Admin Dashboard</title>
    <script defer src="{{ basePath() }}/assets/fonts/fa-5.3.1/js/all.js"></script>
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/easymde.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/admin-main.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{{ basePath() }}/" target="_blank"><img src="/assets/img/brand.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if inUrl('/home') %}active {% endif %}">
                        <a href="{{ pathFor('adminHome') }}" class="nav-link">Home</a>
                    </li>
                    {# For user levels A=Admin, S=SuperAdmin #}
                    {% if authorized('A') %}
                    <li class="nav-item {% if inUrl('/menu') %}active {% endif %}">
                        <a class="nav-link" href="{{ pathFor('showMenus') }}">Menus</a>
                    </li>
                    <li class="nav-item {% if inUrl('/page') %}active {% endif %}">
                        <a class="nav-link" href="{{ pathFor('showPages') }}">Pages</a>
                    </li>
                    <li class="nav-item {% if inUrl('/supplier') %}active {% endif %}">
                        <a class="nav-link" href="{{ pathFor('supplierHome') }}">Suppliers</a>
                    </li>
                    <li class="nav-item {% if inUrl('/user') %}active {% endif %}">
                        <a class="nav-link" href="{{ pathFor('showUsers') }}">Users</a>
                    </li>
                    {% endif %}
                    {# <li class="nav-item {% if inUrl('/') %}active {% endif %}">
                        <a class="nav-link" href="#">Support</a>
                    </li> #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ pathFor('logout') }}">Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="bg-primary">
        <div class="container text-white">
            <h1 class="text-white"> {% block title %} MYPIE ADMIN DEFAULT TITLE{% endblock %}</h1>

            <h5 class="text-white">{% block blurb %}
            Blurb header
            {% endblock %}</h5>
        </div>


    </header>


    <section id="{% block id %}{% endblock %}">
        <div class="container">
            {% block body %}
            <p>This is where the main body content appears</p>
            {% endblock %}
        </div>

    </section>

    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

    <script src="{{ basePath() }}/assets/js/easymde.js"></script>
    <script src="{{ basePath() }}/assets/js/admin.js"></script>
    <script>
        var easyMDE = new EasyMDE({
            element: document.getElementById('mde'),
            forceSync: true,
            hideIcons: ['quote'],
            spellChecker: false
        });
    </script>
    <!-- Default Statcounter code for Moritz Media
http://moritzmedia.com
<script type="text/javascript">
    var sc_project=9291428;
    var sc_invisible=1;
    var sc_security="23e3a822";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="//c.statcounter.com/9291428/0/23e3a822/1/" alt="Web
    Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->
</body>

</html>