<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPie Admin Dashboard</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/easymde.css">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/admin-main.css">
</head>

<body>
    <div class="logo">
        <img src="/assets/img/brand.svg" alt="">
    </div>
    <!-- HEADER -->
    <header>
        <h1> {% block title %}
            <h1>MYPIE ADMIN DEFAULT TITLE</h1>{% endblock %}</h1>

        {% block blurb %}
      <p>Blurb Here</p>
        {% endblock %}

    </header>
    <!-- NAVBAR -->
    <div class="navbar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ pathFor('adminHome') }}" class="nav-link">
                    <div class="nav-icon">
                        <i class="fas fa-home fa-2x"></i>
                    </div>

                    <div class="nav-description">Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ pathFor('showMenus') }}">
                    <div class="nav-icon">
                        <i class="fas fa-edit fa-2x"></i>
                    </div>
                    <div class="nav-description">Menu</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ pathFor('showPages') }}">
                    <div class="nav-icon">
                        <i class="fas fa-wrench fa-2x"></i>
                    </div>

                    <div class="nav-description">Pages</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ pathFor('showUsers') }}">
                    <div class="nav-icon">
                        <i class="fas fa-user fa-2x"></i>
                    </div>
                    <div class="nav-description">Users</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="nav-icon">
                        <i class="fas fa-question fa-2x"></i>
                    </div>

                    <div class="nav-description">Help</div>
                </a>
            </li>
        </ul>
    </div>


    <section id="{% block id %}{% endblock %}">
        <div class="right-container">
            {% block body %}
            <p>This is where the main body content appears</p> {% endblock %}
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="{{ basePath() }}/assets/js/easymde.js"></script>
    <script src="{{ basePath() }}/assets/js/admin.js"></script>
    <script>
        var easyMDE = new EasyMDE({
            element: document.getElementById('mde'),
            forceSync: true,
            hideIcons: ['heading', 'quote', 'image']
        });
    </script>
</body>

</html>