{% if page.menu.menuNotFound %}
<h4>Menu not found</h4>
{% else %}

<h4>{{ page.menu.date|date('l, F j, Y') }}</h4>
<a href="{{ pathFor('editMenu', {'id': page.menu.id}) }}">Edit Menu</a>
{% endif %}

{% if page.menu.items %}

<!-- Daily Pies -->
{% for m in page.menu.items if m.section == 'dailypies' %}
<div>
    {% if m.sold_out == 'N' %}
      {% set status, label = 'Y', 'Sell Out' %}
    {% else %}
      {% set status, label = 'N', 'Sell In' %}
    {% endif %}
    <a class="btn btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
    {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
</div>
{% endfor %}
<hr>

<!-- Sides -->
{% for m in page.menu.items if m.section == 'sides' %}
<div>
    {% if m.sold_out == 'N' %}
      {% set status, label = 'Y', 'Sell Out' %}
    {% else %}
      {% set status, label = 'N', 'Sell In' %}
    {% endif %}
    <a class="btn btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
    {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
</div>
{% endfor %}
<hr>

<!-- Sausage Rolls -->
{% for m in page.menu.items if m.section == 'rolls' %}
<div>
    {% if m.sold_out == 'N' %}
      {% set status, label = 'Y', 'Sell Out' %}
    {% else %}
      {% set status, label = 'N', 'Sell In' %}
    {% endif %}
    <a class="btn btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
    {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
</div>
{% endfor %}
<hr>

<!-- Puds -->
{% for m in page.menu.items if m.section == 'puds' %}
<div>
    {% if m.sold_out == 'N' %}
      {% set status, label = 'Y', 'Sell Out' %}
    {% else %}
      {% set status, label = 'N', 'Sell In' %}
    {% endif %}
    <a class="btn btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
    {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
</div>
{% endfor %}
<hr>

<!-- Takeaway Pies -->
{% for m in page.menu.items if m.section == 'takeawaypies' %}
<div>
    {% if m.sold_out == 'N' %}
      {% set status, label = 'Y', 'Sell Out' %}
    {% else %}
      {% set status, label = 'N', 'Sell In' %}
    {% endif %}
    <a class="btn btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
    {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
</div>
{% endfor %}

{% else %}
<strong>No menu items found for this date</strong>
{% endif %}
