
    {% if page.menu.menuNotFound %}
    <h3 class="page-title">Menu not found</h3>
    {% else %}
    
    <h3 class="page-title">Menu for {{ page.menu.date|date('l, j F, Y') }}</h3>
    <a class="btn btn-primary mb-3" href="{{ pathFor('editMenu', {'id': page.menu.id}) }}">Edit This Menu</a>
    {% endif %} {% if page.menu.items %}
    <div class="link-container">
    <!-- Daily Pies -->
    <h4 class="page-title">Pies</h4>
    {% for m in page.menu.items if m.section == 'dailypies' %}
    <div class="menu-item-wrapper">
      <div class="menu-item-each">
        {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
        {% endif %}
        <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
      </div>
      <div class="menu-item-each">
        {{ m.type }}
      </div>
      <div class="menu-item-each">
        {{ m.description }}
      </div>
      <div class="menu-item-each">
        {{ m.price }}
      </div>
    </div>
    {% endfor %}
    <hr>
    
    <!-- Sides -->
    <h4 class="page-title">Sides</h4>
    {% for m in page.menu.items if m.section == 'sides' %}
    <div class="menu-item-wrapper">
      <div class="menu-item-each">
        {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
        {% endif %}
        <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
      </div>
      <div class="menu-item-each">
        {{ m.type }}
      </div>
      <div class="menu-item-each">
        {{ m.description }}
      </div>
      <div class="menu-item-each">
        {{ m.price }}
      </div>
    
    </div>
    {% endfor %}
    <hr>
    
    <!-- Sausage Rolls -->
    <h4 class="page-title"> Sausage Rolls &amp; More</h4>
    {% for m in page.menu.items if m.section == 'rolls' %}
    <div class="menu-item-wrapper">
      <div class="menu-item-each">
        {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
        {% endif %}
        <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
      </div>
      <div class="menu-item-each">
        {{ m.type }}
      </div>
      <div class="menu-item-each">
        {{ m.description }}
      </div>
      <div class="menu-item-each">
        {{ m.price }}
      </div>
    
    </div>
    {% endfor %}
    <hr>
    
    <!-- Puds -->
    <h4 class="page-title">Puds</h4>
    {% for m in page.menu.items if m.section == 'puds' %}
    <div class="menu-item-wrapper">
      <div class="menu-item-each">
        {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
        {% endif %}
        <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
      </div>
      <div class="menu-item-each">
        {{ m.type }}
      </div>
      <div class="menu-item-each">
        {{ m.description }}
      </div>
      <div class="menu-item-each">
        {{ m.price }}
      </div>
    
    </div>
    {% endfor %}
    <hr>
    
    <!-- Takeaway Pies -->
    <h4 class="page-title">Takeaway Pies</h4>
    {% for m in page.menu.items if m.section == 'takeawaypies' %}
    <div class="menu-item-wrapper">
      <div class="menu-item-each">
        {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
        {% endif %}
        <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
      </div>
      <div class="menu-item-each">
        {{ m.type }}
      </div>
      <div class="menu-item-each">
        {{ m.description }}
      </div>
      <div class="menu-item-each">
        {{ m.price }}
      </div>
    
    </div>
    {% endfor %} {% else %}
    <strong>No menu items found for this date</strong>
    {% endif %}
</div>
