{% extends '@admin/admin_base.html' %} {% block body %}

<h2>Choose a Menu Date</h2>
<p class="font-weight-light">From the date picker below, select the date this menu will be available. When you save the date, it will redirect you to the page that will allow you to enter the menu items.</p>
<form action="{{ pathFor('saveMenu') }}" method="post" accept-charset="utf-8">

  <input type="hidden" name="id" value="{{ menu.id }}">
  
  <div class="form-group">
    <input class="form-control" type="date" name="date" placeholder="Menu date" value="{{ menu.date }}" required>
  </div>


  <button class="btn btn-primary" type="reset" name="button">Cancel</button>
  <button class="btn btn-primary" type="submit" name="button">Save</button>
  {% if menu.id %}
  <a href="{{ pathFor('deleteMenu', {'id': menu.id}) }}">Delete</a>
  {% endif %}
</form>
<hr>
  <a class="btn btn-success mt-3" href="{{ pathFor('showMenus') }}">Return to Menus Page</a>

{% endblock %}