{% extends '@admin/admin_base.html' %}

{% block body %}

  
  <h2>Edit Menu Details</h2>
  <hr>
  <form action="{{ pathFor('saveMenuItems') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="id" value="{{ menu.id }}">
    <div>
      {{ m.date|date('l, F j, Y') }}
      {% if menu.id %}
      <a href="{{ pathFor('deleteMenu', {'id': menu.id}) }}">Delete Menu</a>
      {% endif %}
    </div>
   <hr>
    <a href="{{ pathFor('showMenus') }}">Cancel</a>
    <button type="submit" name="button">Save</button>
    <hr>
    <!-- Daily Pies -->
    <div>
      <h3>Daily Pies</h3>
      {% for i in 1..5 %}
      <div class="border rounded p-2 mb-1">
        <input class="form-control" type="hidden" name="items[menu_item_id][]" value="">
        <input class="form-control" type="hidden" name="items[section][]" maxlength="60" value="dailypies">
        <div class="form-row">
            <div class="col-sm-2">
              <select class="form-control mb-2" name="items[type][]" id="" placerholder="Type">
                <option value="" selected disabled hidden>Select Type...</option>
                <option value="BEEF">Beef</option>
                <option value="VEGGIE">Veggie</option>
                <option value="CHICKEN">Chicken</option>
                <option value="GUEST">Guest</option>
              </select>
                <!-- <input class="form-control" type="text" name="items[type][]" maxlength="20" placeholder="Type" value=""> -->
            </div>
            <div class="col">
                <input class="form-control" type="text" name="items[description][]" maxlength="200" placeholder="Pie description" value="">
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="items[price][]" maxlength="20" placeholder="Price" value="">
            </div>
          </div>
        

      
        
     
      </div>
      {% endfor %}
    </div>

    <!-- Sides -->
    <div>
      <h3>Sides</h3>
      {% for i in 1..5 %}
      <div>
        <input type="hidden" name="items[menu_item_id][]" value="">
        <input type="hidden" name="items[section][]" maxlength="60" value="sides">
        <input type="text" name="items[type][]" maxlength="20" placeholder="Type" value="">
        <input type="text" name="items[description][]" maxlength="200" placeholder="Side description" value="">
        <input type="text" name="items[price][]" maxlength="20" placeholder="Price" value="">
      </div>
      {% endfor %}
    </div>

    <!-- Sausage Rolls -->
    <div>
      <h3>Sausage Rolls</h3>
      {% for i in 1..2 %}
      <div>
        <input type="hidden" name="items[menu_item_id][]" value="">
        <input type="hidden" name="items[section][]" maxlength="60" value="rolls">
        <input type="text" name="items[type][]" maxlength="20" placeholder="Type" value="">
        <input type="text" name="items[description][]" maxlength="200" placeholder="Roll description" value="">
        <input type="text" name="items[price][]" maxlength="20" placeholder="Price" value="">
      </div>
      {% endfor %}
    </div>

    <!-- Puds -->
    <div>
      <h3>Puds</h3>
      {% for i in 1..2 %}
      <div>
        <input type="hidden" name="items[menu_item_id][]" value="">
        <input type="hidden" name="items[section][]" maxlength="60" value="puds">
        <input type="text" name="items[type][]" maxlength="20" placeholder="Type" value="">
        <input type="text" name="items[description][]" maxlength="200" placeholder="Pud description" value="">
        <input type="text" name="items[price][]" maxlength="20" placeholder="Price" value="">
      </div>
      {% endfor %}
    </div>

    <!-- Takeaway Pies -->
    <div>
      <h3>Takeaway Pies</h3>
      {% for i in 1..3 %}
      <div>
        <input type="hidden" name="items[menu_item_id][]" value="">
        <input type="hidden" name="items[section][]" maxlength="60" value="takewaypies">
        <input type="text" name="items[type][]" maxlength="20" placeholder="Type" value="">
        <input type="text" name="items[description][]" maxlength="200" placeholder="Pud description" value="">
        <input type="text" name="items[price][]" maxlength="20" placeholder="Price" value="">
      </div>
      {% endfor %}
    </div>

    <a href="{{ pathFor('showMenus') }}">Cancel</a>
    <button type="submit" name="button">Save</button>
  </form>


  {% endblock %}
