{% extends '@admin/admin_base.html' %}

 {% block body %}
    <h1>Edit Content</h1>
    <h3>For {{ pagelet.title }} Page</h3>
  <form action="{{ pathFor('savePagelet') }}" method="post" accept-charset="utf-8">
    <input type="hidden" name="page_id" value="{{ pagelet.page_id }}">
    <input type="hidden" name="id" value="{{ pagelet.id }}">
    <div>
      <label>Secion Name</label>
      <input type="text" name="name" maxlength="60" placeholder="Section name" value="{{ pagelet.name }}" required>
    </div>

    <div>
      <label>Content</label>
      <textarea name="content">{{ pagelet.content }}</textarea>
    </div>
    <a href="{{ pathFor('showPages') }}">Cancel</a>
    <button type="submit" name="button">Save</button>
    {% if pagelet.id %}
    <a href="{{ pathFor('deletePagelet', {'id': pagelet.id}) }}">Delete</a>
    {% endif %}
  </form>

  {% endblock %}