{% extends '@admin/admin_base.html' %}

 {% block body %}
 <div class="container">
  
    <ul class="nav flex-column">
        <li class="nav-item nav-style rounded">
          <a class="nav-link" href="{{ pathFor('showMenus') }}">Menus</a>
        </li>
        <li class="nav-item nav-style rounded">
            <a class="nav-link" href="#">Calendar</a>
        </li>
        <li class="nav-item nav-style rounded">
            <a class="nav-link" href="{{ pathFor('showPages') }}">Page Content</a>
        </li>
        <li class="nav-item nav-style rounded">
            <a class="nav-link" href="{{ pathFor('showUsers') }}">Users</a>
        </li>
        <li class="nav-item nav-style rounded">
            <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <hr>
 </div>

 <div class="container">
   <h3>Current Menu</h3>
   {% include 'admin/currentMenu.html' %}
   <hr>
   
 </div>

{% endblock %}