{% extends '@admin/admin_base.html' %} 

{% block body %}

<header>
        <h1 class="page-title">Menu & Calendar Management</h1>
        <p>Add a new menu, or if you prefer, you can copy a previous menu. By clicking the second icon below the menu you want to duplicate, it will take you to a page that you can update the date and location of the particular menu. You can also edit and delete a menu.</p>
        <p>If you just want to add an event to the calendar, Add a New Menu but only select a location and date. It will appear on the calendar. </p>
</header>
<div class="grid-cell">
      <!-- Add a New Menu  -->
      <div class="menu-link">
            <a href="{{ pathFor('editMenu') }}" data-toggle="tooltip" title="Create a new menu.">
                <i class="fas fa-plus" alt="Create Menu"></i> Add New Menu</a>
        </div>
  
</div>
<div class="grid-cell">
        <h2 class="page-title">Active Menus</h2>
        {% for m in menus %}

        <div id="active-menus" class="link-container">
            <div class="menu-link">
                <a href="{{ pathFor('showSingleMenu', {'id': m.id}) }}">
                    {{ m.date|date('l, F j, Y') }}{% if m.location %} {{ m.location }}{% else %} No Location{% endif %}
                </a>
            </div>

            <div class="menu-actions">
                <div class="menu-icon">
                    <a href="{{ pathFor('editMenu', {'id': m.id}) }}" data-toggle="tooltip" title="Edit this menu">
                        <i class="fas fa-edit fa-2x" alt="Edit Menu"></i>
                        </i>
                    </a>
                </div>
                <div class="menu-icon">
                    <a href="{{ pathFor('copyEditMenu', {'id': m.id}) }}" data-toggle="tooltip" title="Copy this menu">
                        <i class="fas fa-copy fa-2x" alt="Copy Menu"></i>
                        </i>
                    </a>
                </div>
                <div class="menu-icon">
                    <a class="deleteButton" href="{{ pathFor('deleteMenu', {'id': m.id}) }}" data-toggle="tooltip" title="Delete this menu">
                        <i class="fas fa-trash-alt fa-2x" alt="Delete Menu"></i>
                        </i>
                    </a>
                </div>
            </div>
        </div>

        <hr> {% else %}
        <strong>No menus found</strong>
        {% endfor %}

        {{ pagination() }}
</div>
       

      



{% endblock %}