{% extends '@admin/admin_base.html' %}

 {% block body %}
  <h2>Users</h2>
  <form action="{{ pathFor('saveUsers') }}" id="user-emails" method="post" accept-charset="utf-8">
    <div>
      Primary Account {{ users.default }}
    </div>
    {% for user in users.other %}
    <div>
      <a href="{{ pathFor('removeUser', {'id': user.id}) }}">Remove</a>
      <input type="email" name="email[]" maxlength="60" value="{{ user.email }}" autocomplete="off">
    </div>
    {% endfor %}
    <div class="addEmail">
      <input type="email" name="email[]" maxlength="60" value="" autocomplete="off" placeholder="Email address">
    </div>
    <button type="submit" name="button">Save</button>
  </form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript">
	$('#user-emails').on('click', '.addEmail', function() {
		var newRow = $(this).clone();
		$(this).removeClass('addEmail');
		$(this).after(newRow);
	});
</script>
{% endblock %}