
  <h2>Users</h2>
  <form action="{{ pathFor('saveUsers') }}" method="post" accept-charset="utf-8">
    <div>
      Primary Account {{ users.default }}
    </div>
    {% for userEmail in users.other %}
    <div>
      <input type="email" name="email[]" maxlength="60" value="{{ userEmail }}" autocomplete="off">
    </div>
    {% endfor %}
    <div>
      <input type="email" name="email[]" maxlength="60" value="" autocomplete="off" placeholder="Email address">
    </div>
    <button type="submit" name="button">Save</button>
  </form>

