  <h4>Message us:</h4>
  <form id="contact-us" class="contact-form" action="{{ pathFor('submitMessage') }}" method="post" accept-charset="utf-8" novalidate>
      <div class="form-group">
          <input type="text" class="form-control" id="contact-name" name="fullname" placeholder="Full Name" required>
          <div class="invalid-tooltip">Please enter your name.</div>
      </div>
      <div class="form-group">
          <input type="email" class="form-control" id="contact-email" name="email" placeholder="Email Address" required>
          <div class="invalid-tooltip">Please enter your email address.</div>
      </div>
      <div class="form-group" style="display:none;">
          <input type="email" class="form-control alt-email" name="alt-email" placeholder="Email" autocomplete="off">
      </div>
      <div class="form-group">
          <textarea name="message" cols="40" rows="5" class="form-control" aria-required="true" aria-invalid="false" placeholder="Message" id="contact-message" required></textarea>
          <div class="invalid-tooltip">Please enter your message.</div>
      </div>
      <div class="custom-button">
          <input type="submit" value="Submit">
      </div>
  </form>
  <script type="text/javascript">
    document.getElementsByClassName('alt-email')[0].setAttribute('value', 'alt@example.com');
    (function() {
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('contact-form');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
  </script>