<footer id="footer1">
  <div class="box-footer1">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-title">
            <img src="/assets/img/black-ep3.png" alt="MYPIE.LONDON">
          </div>
        </div>
      </div>
      <div class="row">

        <!-- Contact Form column -->
        <div id="contact-us" class="col-sm-12 col-lg-6">
          {% set emailSubjectLine = 'MyPie Website Enquiry' %}
          {% include 'includes/_contactForm.html' %}
        </div>
                <!-- Contact Information & Social Media Icons -->
                <div class="col-sm-12 col-lg-6">
                    <div class="row">
                      <div class="col-6">
                        <h4 class="footer-title">Contact Us</h4>
                        <div class="location">
                          <p>MYPIE
                            <br /> 60 Fendall Road
                            <br> Epsom, KT199NZ United Kingdom
                          </p>
                        </div>
          
                        <div class="phone">
                          <p>Phone:
                            <a href="tel:+447590627118">+44 (0)7590 627118</a>
                          </p>
          
                        </div>
                        <div class="email">
                          <a href="mailto:pies@mypie.london" title="">pies@mypie.london</a>
                        </div>
                      </div>
                      <div class="col-6">
                        <h4 class="footer-title">Get Social with Us</h4>
                        <div class="get-social-icons">
                          <a class="social-item" target="_blank" href="https://twitter.com/MYPIE_LDN">
                            <div class="social-link">
                              <span class="social-icon">
                                <i class="fab fa-twitter fa-4x"></i>
                              </span>
                              <h3 class="social-title d-none">Twitter</h3>
                              <span class="social-info d-none"> Follow us on twitter</span>
                            </div>
                          </a>
                          <a class="social-item" target="_blank" href="https://www.facebook.com/pages/MYPIE/159272247437186">
                            <div class="social-link">
                              <span class="social-icon">
                                <i class="fab fa-facebook fa-4x"></i>
                              </span>
                              <h3 class="social-title d-none">Facebook</h3>
                              <span class="social-info d-none">Join The Conversation </span>
                            </div>
                          </a>
                          <a class="social-item" target="_blank" href="http://instagram.com/mypie_ldn">
                            <div class="social-link">
                              <span class="social-icon">
                                <i class="fab fa-instagram fa-4x"></i>
                              </span>
                              <h3 class="social-title d-none">Instagram</h3>
                            </div>
                          </a>
                        </div>
          
                      </div>
          
                    </div>
          
                  </div>
      </div>
    </div>
  </div>

  <div class="box-footer2">
    <div class="container">
      <div class="row">
        <div class="col-12 center-align">
          <p>&copy; 2018 MYPIE. All rights reserved.</p>
          <p> Website designed by
            <a href="http://moritzmedia.com"> Moritz Media</a>.</p>
        </div>
      </div>
    </div>
  </div>

</footer>