<footer id="footer1">
        <div class="box-footer1">
          <div class="container">
            <div class="row">
              <div id="our-story" class="col-sm-6 col-lg-4">
                <h4>Our Story</h4>
                <div class="box-footer-desc">
                  <p>We started MYPIE in London in 2014, selling our pies from a 1970's Bedford van. Now you can buy them
                    here, isn't that great?</p>
                  <p>At MYPIE, we don't just make pies. We lovingly create each flavour, each pie, one by one. It's no
                    wonder we're one of the most awarded pie makers in the U.K.</p>
                  <p>Our weekly changing menu uses primarily British products, and we can track each one right back to
                    the farm or brewery they come from. You don't often see that.</p>
                  <p>We love what we do and we're sure you will too.</p>
                </div>
                <div class="box-logo-footer">
                  <img src="/assets/img/black-ep3.png" alt="MYPIE.LONDON">
                </div>
              </div>
              <div id="message-us" class="col-sm-6 col-lg-4">
                <h4>Contact Us:</h4>
                <div class="location">
                  <p>MYPIE
                    <br /> 60 Fendall Road
                    <br> Epsom, KT199NZ United Kingdom
                  </p>
                </div>
                <div class="phone">
                  <p>Phone:
                      <a href="tel:+447590627118">+44 (0)7590 627118</a>
                  </p>
      
                </div>
                <div class="email">
                  <a href="mailto:pies@mypie.london" title="">pies@mypie.london</a>
                </div>
                <div class="get-social">
                  <a class="social-item" target="_blank" href="https://twitter.com/MYPIE_LDN">
                    <div class="social-link">
                      <span class="social-icon">
                        <i class="fab fa-twitter fa-2x"></i>
                      </span>
                      <h3 class="social-title d-none">Twitter</h3>
                      <span class="social-info d-none"> Follow us on twitter</span>
                    </div>
                  </a>
                  <a class="social-item" target="_blank" href="https://www.facebook.com/pages/MYPIE/159272247437186">
                    <div class="social-link">
                      <span class="social-icon">
                        <i class="fab fa-facebook fa-2x"></i>
                      </span>
                      <h3 class="social-title d-none">Facebook</h3>
                      <span class="social-info d-none">Join The Conversation </span>
                    </div>
                  </a>
                  <a class="social-item" target="_blank" href="http://instagram.com/mypie_ldn">
                    <div class="social-link">
                      <span class="social-icon">
                        <i class="fab fa-instagram fa-2x"></i>
                      </span>
                      <h3 class="social-title d-none">Instagram</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div id="contact-us" class="col-sm-12 col-lg-4">
                {% set emailSubjectLine = 'MyPie Website Enquiry' %} 
                {% include 'includes/_contactForm.html' %}
              </div>
            </div>
          </div>
        </div>
      
        <div class="box-footer2">
          <div class="container">
            <div class="row">
              <div class="col-12 center-align">
                <p>&copy; 2018 MYPIE. All rights reserved.</p>
                <p> Website designed by
                  <a href="http://moritzmedia.com"> Moritz Media</a>.</p>
              </div>
            </div>
          </div>
        </div>
      
      </footer>