{% macro schedule(month, date) %}

<div class="calendar-container">

    <h3 class="section-title">{{ month|date('F Y') }}</h3>
 

  <div class="calendar-wrapper">
    <div class="box days">
      <div class="day">Mon</div>
    </div>
    <div class="box days">
      <div class="day">Tue</div>
    </div>
    <div class="box days">
      <div class="day">Wed</div>
    </div>
    <div class="box days">
      <div class="day">Thu</div>
    </div>
    <div class="box days">
      <div class="day">Fri</div>
    </div>
    <div class="box days">
      <div class="day">Sat</div>
    </div>
    <div class="box days">
      <div class="day">Sun</div>
    </div>
    {% for d in date %}
    <div class="box {{ d.dateBoxClass }}">
      <div class="{{ d.dateClass }}">{{ d.date }}</div>
      <div class="day-content" data-toggle="modal" data-target="#locationModal">
        {% if d.content %}
        <a href="#calendar">{{ d.content }}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endmacro %}