<div id="get-social">
    <div class="container-fluid container-home">

        <h2>Stay Connected with Us</h2>

        <p class="">
            We love making new friends along the way. Follow us on our journey to feed the great people of London.
        </p>

        <div class="get-social-wrapper">

            <a class="social-item" target="_blank" href="https://twitter.com/MYPIE_LDN">
                <div class="social-link">
                    <span class="social-icon">
                        <i class="fab fa-twitter fa-4x"></i>
                    </span>
                    <h3 class="social-title d-none">Twitter</h3>
                    <span class="social-info"> Follow us on twitter </span>
                </div>
            </a>

            <a class="social-item" target="_blank" href="https://www.facebook.com/pages/MYPIE/159272247437186">
                <div class="social-link">
                    <span class="social-icon">
                        <i class="fab fa-facebook fa-4x"></i>
                    </span>
                    <h3 class="social-title d-none">Facebook</h3>
                    <span class="social-info"> Join The Conversation </span>
                </div>
            </a>


            <a class="social-item" target="_blank" href="http://instagram.com/mypie_ldn">
                <div class="social-link">
                    <span class="social-icon">
                        <i class="fab fa-instagram fa-4x"></i>
                    </span>
                    <h3 class="social-title d-none">Instagram</h3>
                    <span class="social-info"> See More of Our photos </span>
                </div>

            </a>

        </div>
    </div>
</div>

<!-- Instagram Feed Section -->
<div id="instagram" class="container container-home">

    <h2>Latest on Instagram</h2>
    <div class="instagram-feed d-none d-md-block">
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/4b17029807b256088ad56c804151d100.html" scrolling="no" allowtransparency="true"
            class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

    </div>
    <div class="instagram-feed-mobile d-md-none">
        <!-- LightWidget WIDGET -->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/a3a19d0bfb735c0bbd817de80d0d1f00.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"
            style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</div>