
  <div class="get-social">
      <a class="social-item" target="_blank" href="https://twitter.com/MYPIE_LDN">
          <div class="social-link">
              <span class="social-icon">
                  <i class="fab fa-twitter fa-2x"></i>
              </span>
              <h3 class="social-title d-none">Twitter</h3>
              <span class="social-info d-none"> Follow us on twitter</span>
          </div>
      </a>
      <a class="social-item" target="_blank" ref="https://www.facebook.com/pages/MYPIE/159272247437186">
          <div class="social-link">
              <span class="social-icon">
                  <i class="fab fa-facebook fa-2x"></i>
              </span>
              <h3 class="social-title d-none">Facebook</h3>
              <span class="social-info d-none">Join The Conversation </span>
          </div>
      </a>
      <a class="social-item" target="_blank" href="http://instagram.com/mypie_ldn">
          <div class="social-link">
              <span class="social-icon">
                  <i class="fab fa-instagram fa-2x"></i>
              </span>
              <h3 class="social-title d-none">Instagram</h3>
          </div>
      </a>
  </div>
