

<!-- navbar -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <!-- Small truck Logo visible collapsed menu -->
    <a class="navbar-brand d-md-none" href="{{ basePath() }}/">
        <img src="/assets/img/brand.svg" alt="">
    </a>

    <!-- Hamburger Icon -->
    <div class="hamburger hamburger-cancel navbar-toggler"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon"></span>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
                <li class="nav-item {% if inUrl('/') %} active {% endif %}">
                    <a class="nav-link" href="{{ basePath() }}/">Home</a>
                 
                </li>
            <li class="nav-item {% if inUrl('suppliers') %} active {% endif %}">
                <a class="nav-link" href="{{ basePath() }}/suppliers">Suppliers</a>
            </li>
            <li class="nav-item {% if inUrl('about') %} active {% endif %}">
                <a class="nav-link" href="{{ basePath() }}/about">About Us</a>
            </li>
            <li class="nav-item {% if inUrl('events') %} active {% endif %}">
                <a class="nav-link" href="{{ basePath() }}/events">Events</a>
            </li>
        </ul>

        <ul id="#in-page-links" class="navbar-nav ml-auto ">
             
                <li class="nav-item  {% if inUrl('menu') %} active {% endif %}">
                        <a class="nav-link" href="{{ basePath() }}/menu">Menu</a>
                    </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ basePath() }}/#calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact</a>
            </li>
        

        </ul>
    </div>
</nav>

<!-- Logo Wrapper -->

<div class="logo-container d-none d-md-block">
     
    <div class="lg-logo-wrapper">  </div>
</div>