<section id="insta-feed">
    <div class="container-fluid">
        <div id="instagram">
            <h2 class="section-title">Latest on Instagram</h2>

            <!-- Instagram Feed XS -->
            <div class="d-block d-sm-none">
                <!-- LightWidget WIDGET -->
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/c14e289aa7335f668f12a42aeb1ac821.html"
                    scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
            </div>

            <!-- Instagram Feed SM -->
            <div class="d-none d-sm-block d-md-none">
                <!-- LightWidget WIDGET -->
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/bd95844af94c57378ddc7c76df646858.html"
                    scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
            </div>

            <!-- Instagram Feed MD -->
            <div class="d-none d-md-block d-lg-none">
                <!-- LightWidget WIDGET -->
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/951f3445eab65a70bb0f58896f60e9b9.html"
                    scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

            </div>

            <!-- Instagram Feed LG -->
            <div class="d-none d-lg-block">
                <!-- LightWidget WIDGET -->
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b57a10c3e9945b26a8f9ea0148c8be5f.html"
                    scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
            </div>

        </div>
    </div>
    </div>

</section>