<section id="insta-feed">
<div id="instagram">
    <h2 class="section-title">Latest on Instagram</h2>
    <div class="instagram-feed d-none d-md-block">

<!-- LightWidget WIDGET Desktop -->

<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/5bc41a7d465c5cc8aca1a95e746511b6.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

    </div>
    <div class="instagram-feed-mobile d-md-none">
    <!-- LightWidget WIDGET Mobile -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/1cf8e97e62495390910b1d501538ae61.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>   
    </div>
</div>
</section>