<section id="insta-feed">
    <div class="container-fluid">
        <div id="instagram">
            <h2 class="section-title">Latest on Instagram</h2>

            <!-- LightWidget WIDGET -->
            <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://lightwidget.com/widgets/998722a7bf445c73b341b029b9773a5f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>


        </div>
    </div>
    </div>

</section>