        {% for menu in menuList if menu.items %}

        <h3 class="">{{ menu.date|date('l, j F, Y') }} at {{ menu.location }}</h3>

        {# This next line summarizes and keeps a handy flag of which menu sections are available #}
        {% set available = availableMenuSections(menu.items) %}

        <div class="menu-wrapper">
            <!-- Daily Pies -->
            {% if available.dailypies %}
            <div class="pie-box">
                <h4 class="menu-title">Pie w/mash or salad + gravy</h4>
                {% for m in menu.items if m.section == 'dailypies' %}
                <span class="menu-items {% if m.sold_out == 'Y' %} sold-out {% endif %}">

                    <!-- <div class="menu-item menu-item-title">{{ m.type }}</div> -->
                    <div class="menu-item menu-item-description">{{ m.description }}</div>
                    <div class="menu-item menu-item-price"> {{ m.price }}</div>
                </span>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Sides -->
            {% if available.sides %}
            <div class="sides-box">
                <h4 class="menu-title">Awesome Sides</h4>
                {% for m in menu.items if m.section == 'sides' %}
                <span class="menu-items {% if m.sold_out == 'Y' %} sold-out {% endif %}">
                    <div class="menu-item menu-item-description">{{ m.description }}</div>
                    <div class="menu-item menu-item-price"> {{ m.price }}</div>
                </span>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Sausage Rolls -->
            {% if available.rolls %}
            <div class="sausage-box">
                <h4 class="menu-title">Sausage Rolls &amp; More</h4>
                {% for m in menu.items if m.section == 'rolls' %}
                <span class="menu-items {% if m.sold_out == 'Y' %} sold-out {% endif %}">
                    <!-- <div class="menu-item menu-item-title">{{ m.type }}</div> -->
                    <div class="menu-item menu-item-description">{{ m.description }}</div>
                    <div class="menu-item menu-item-price"> {{ m.price }}</div>
                </span>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Puds -->
            {% if available.puds %}
            <div class="puds-box">
                <h4 class="menu-title">Puds</h4>
                {% for m in menu.items if m.section == 'puds' %}
                <span class="menu-items {% if m.sold_out == 'Y' %} sold-out {% endif %}">
                    <div class="menu-item menu-item-description">{{ m.description }}</div>
                    <div class="menu-item menu-item-price"> {{ m.price }}</div>
                </span>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Takeaway Pies -->
            {% if available.takeawaypies %}
            <div class="takeaway-box">
                <h4 class="menu-title">Takeaway Pies</h4>
                {% for m in menu.items if m.section == 'takeawaypies' %}
                <span class="menu-items {% if m.sold_out == 'Y' %} sold-out {% endif %}">
                    <!-- <div class="menu-item menu-item-title">{{ m.type }}</div> -->
                    <div class="menu-item menu-item-description">{{ m.description }}</div>
                    <div class="menu-item menu-item-price"> {{ m.price }}</div>
                </span>
                {% endfor %}
            </div>
            {% endif %}

        </div>

        <hr class="menu-divider">

        {% else %}{# Outer menuList loop #}
        <h2 class="section-title">No Menus Found</h>
        {% endfor %}
