<section id="newsletter">
    <div class="container">
            <h2>Newsletter Signup</h2>
        <div class="newsletter-wrapper">

            <div class="newsletter-box newsletter-signup-content">
                <p>Subscribe to our weekly newsletter to keep up to date on all of the comings and goings of MYPIE. By subscribing
                    you are automatically entered into our weekly drawing for a Pie* on us. We promise to never use your
                    information in a way that'll make us look bad. </p>
                <p>Subscribe today!</p>
                <p class="font-weight-light"> * Valid for the week of the drawing only - don't use it? you lose it!</p>
            </div>
            <div class="newsletter-box">
                <script src="https://newslettertool2.1und1.de/subscriber-frontend/form.js" type="text/javascript"></script>
                <br />
                <script type="text/javascript">
                    // <!&#091;CDATA&#091;
                    NLT.render('772f37da-6b5f-47fc-998b-0846eb395de8');
                    // &#093;&#093;>
                </script>
            </div>

        </div>
    </div>
</section>