<section id="newsletter">
    <div class="container-fluid">
        <!-- <h2 class="section-title">Newsletter Signup</h2> -->
        <h2 class="section-title">{{ page.pagelets.newsletter.title }}</h2>

        <div class="newsletter-wrapper">
            <div class="newsletter-box newsletter-signup-content">
                <!-- <p>Subscribe to our weekly newsletter to keep up to date on all of the comings and goings of MYPIE. By
                    subscribing
                    you are automatically entered into our weekly drawing for a Pie* on us. We promise to never use
                    your
                    information in a way that'll make us look bad. </p> -->
                <!-- <p>
                    Subscribe to our weekly newsletter to keep up to date on where you can find our pie trucks and all
                    of the comings and goings of MYPIE.
                </p> -->

                {{ page.pagelets.newsletter.content_html }}

                <!-- <p class="font-weight-light"> * Valid for the week of the drawing only - don't use it? you lose it!</p> -->
            </div>

            <div class="newsletter-box newsletter-form">
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://email-marketing.ionos.co.uk/widget/iframe/32tw/9RU" width="100%" height="345"></iframe>
            </div>
        </div>



    </div>
    </div>
    </div>
</section>


<!--  -->