{% extends '@admin/admin_base.html' %}
{% block title %}
Page Management - Add / Edit Content
{% endblock %}

{% block blurb %}
<p>Add/Edit page content.</p>
{% endblock %}
 {% block body %}

  <section id="admin">
      <div class="container">
          <div class="pagelet-edit-padding">
              <h2 class="text-danger">Add / Edit Content</h2>
              <h3>For the {{ pagelet.title }} Page</h3>

            <form action="{{ pathFor('savePagelet') }}" method="post" accept-charset="utf-8">

              <input type="hidden" name="page_id" value="{{ pagelet.page_id }}">
              <input type="hidden" name="id" value="{{ pagelet.id }}">

              <div class="form-group">
                <label><h6>Section Name</h6></label>
                <input class="form-control jsRefNameValidate" type="text" name="name" maxlength="60" placeholder="Element name" value="{{ pagelet.name }}" required>
                <p>Internal name for reference in application code.</p>
              </div>

              <div class="form-group">
                <label><h6>Title</h6></label>
                <input class="form-control" type="text" name="title" maxlength="60" placeholder="Title" value="{{ pagelet.title }}">
              </div>

              <div class="form-group">
                <label><h6>Content</h6></label>
                <textarea class="form-control" id="mde" rows="10" name="content">{{ pagelet.content }}</textarea>
              </div>
            <div class="form-group">
              <button class="btn btn-warning btn-sm"><a href="{{ pathFor('showPages') }}">Cancel</a></button>
              
              <button class="btn btn-success btn-sm" type="submit" name="button"><a href="#">Save</a></button>
              {% if pagelet.id %}
              <button class="btn btn-danger btn-sm"> <a href="{{ pathFor('deletePagelet', {'id': pagelet.id}) }}">Delete</a></button>
             
              {% endif %}
            </div>

            </form>
           </div>


      </div>
    </section>


  {% endblock %}