{% extends '@admin/admin_base.html' %} {% block title %}Dashboard - Home{% endblock %} {% block blurb %}
<p>Pulling back the curtain!</p>{% endblock %} {% block id %}admin-home{% endblock %} {% block body %}

<!-- Visible to All Users -->


<div class="page-section">
    <div class="grid-cell add-link">
            <a href="{{ pathFor('editMenu') }}" data-toggle="tooltip" title="Create a new menu.">
                    <i class="fas fa-plus" alt="Create Menu"></i> New Menu</a>
    </div>
    <div class="grid-cell">
        <!--  -->
        {% include 'admin/includes/_currentMenu.html' %}
    </div>
    <div class="grid-cell">
        {% include '@admin/includes/_menuListAll.html' %}
        <a class="btn btn-primary btn-sm" href="{{ pathFor('showMenus') }}">More Menus</a>
    </div>
</div>

{% endblock %}