{% extends '@admin/admin_base.html' %}
{% import '@admin/includes/_menuListMacros.html' as list %}

{% block title %}Dashboard - Home{% endblock %}
{% block blurb %}{% endblock %}
{% block id %}admin-home{% endblock %}

{% block body %}

<!-- Visible to All Users -->
<div class="page-section">
    <div class="grid-cell span add-link">
            <a href="{{ pathFor('editMenu') }}" data-toggle="tooltip" title="Create a new menu.">
                    <i class="fas fa-plus" alt="Create Menu"></i> New Menu</a>
    </div>
    <div class="grid-cell">
        <!--  -->
        {% include 'admin/includes/_currentMenu.html' %}
    </div>
    <div class="grid-cell">
        <h3 class="page-title span">Pinned Menus</h3>
        {{ list.listMenus(page.pinnedMenus) }}

        <h3 class="page-title span">Daily Menus</h3>
        {{ list.listMenus(page.newMenus) }}

        {% if authorized('A') %}
        <a class="btn btn-primary btn-sm" href="{{ pathFor('showMenus') }}">More Menus</a>
        {% endif %}
    </div>
</div>

{% endblock %}