{% extends '@admin/admin_base.html' %}
{% import '@admin/includes/_menuListMacros.html' as list %}

{% block title %} Menu &amp; Calendar{% endblock %}
{% block blurb %}
<p>Manage Calendar and Daily Menus.</p>{% endblock %}
{% block id %}menu-home{% endblock %}

{% block body %}

<!-- visible to super admin -->
<div class="page-section">

</div>
<div class="page-section">
  <div class="grid-cell span add-link">

    <a href="{{ pathFor('editMenu') }}" data-toggle="tooltip" title="Create a new menu.">
      <i class="fas fa-plus" alt="Create Menu"></i> New Menu</a>

  </div>
  <div class="grid-cell">
    {% include '@admin/includes/_editMenuItemDefaults.html' %}
  </div>
  <div class="grid-cell">
    <h3 class="page-title span">Daily Menus</h3>
    {{ list.listMenus(page.newMenus) }}

    {{ pagination() }}
  </div>


</div>

{% endblock %}