{% extends '@admin/admin_base.html' %}

{% block title %}Page Content{% endblock %}
{% block blurb %}Update content here {% endblock %} {% block
id %}pages-home{% endblock %} {% block body %}

<!-- visible to super admin -->

<div class="page-section">
  <div class="grid-cell span add-link">
    <a href="{{ pathFor('editPage') }}">
      <i class="fas fa-plus" alt="Create Page"></i> Add New Page</a>
  </div>

  {% for p in pages %}
  <div class="grid-cell">
    <h2 class="section-title span">{{ p.title }}</h2>

    <!-- visible to super admins -->
    {% if authorized('S') %}
    <button class="btn btn-sm btn-primary">
      <a href="{{ pathFor('editPage', {'id': p.id}) }}">Edit {{ p.title }} Page Details</a>
    </button>

    <ul class="pages-meta-details">
      <li><strong>URL:</strong></li>
      <li>/{{ p.url }}</li>

      <li><strong>Template: </strong></li>
      <li>{{ p.template|default('<none>') }}</li>

      <li><strong>Meta:</strong>
       <li> {{ p.meta_description }}</l>
    </ul>

    <!-- visible to super admins -->
    <button class="btn btn-sm btn-info">
      <a href="{{ pathFor('editPagelet') }}?page_id={{ p.id }}">Add {{ p.title }} Page Elements</a>
    </button>
    {% endif %}
    <ul class="fa-ul">
      {% for pl in p.pagelets %}
      <li>
        <span class="fa-li">
          <i class="fas fa-pencil-alt"></i>
        </span>
        <a href="{{ pathFor('editPagelet', {'id': pl.id}) }}"> Edit {{ pl.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>


  {% else %}
  <strong>No pages found</strong>
  {% endfor %}
</div>

{% endblock %}