{% extends '@admin/admin_base.html' %}

{% block title %}Suppliers - Home{% endblock %}
{% block blurb %}<p>Add/Edit/Delete Suppliers</p>{% endblock %}
{% block id %}suppliers-home{% endblock %}

{% block body %}

<!-- Visible to All Users -->

<div class="page-section">
    <div class="grid-cell add-link">
            <a href="" data-toggle="tooltip" title="Create a new menu.">
                    <i class="fas fa-plus" alt="Create Menu"></i> New Supplier</a>
    </div>
    <div class="grid-cell">
        <!--  -->
        {% include 'admin/includes/_editSupplier.html' %}
    </div>
    <div class="grid-cell">
        {% include '@admin/includes/_supplierList.html' %}

    </div>
</div>

{% endblock %}