{% extends '@admin/admin_base.html' %}

{% block title %}
User Management
{% endblock %}

{% block blurb %}
<p>Add a new user to manage the MYPIE website.</p>
{% endblock %}

{% block id %}users-home{% endblock %}

{% block body %}
<div class="page-section">
  <div class="grid-cell span"><h2 class=" page-title">Site Administrators</h2></div>
  <div class="grid-cell">
    <strong>Super Admins</strong><br>
    {% for u in page.superAdmins %}
    {{ u }}
    {% endfor %}
  </div>
  <div class="grid-cell">
    {% if currentRole() == 'A' %}
    <a href="{{ pathFor('changeUserRole', {'role': 'S'}) }}" class="btn btn-danger btn-sm">Enable Super User</a>
    {% elseif currentRole() == 'S' %}
    <a href="{{ pathFor('changeUserRole', {'role': 'A'}) }}" class="btn btn-danger btn-sm">Disable Super User</a>
    {% endif %}

    <p>* These super users are set in <i>config/config.local.php</i> on the hosting server. To modify these users, please contact Moritz Media or your web administrator.</p>
  </div>
</div>


<div class="page-section">
  <div class="grid-cell span"><h2 class="page-title">Manage Users</h2></div>
  <div class="grid-cell">
    <form action="{{ pathFor('saveUsers') }}" id="user-emails" method="post" accept-charset="utf-8">
      {% for user in page.other %}
      <div class="user-row">
        <input type="hidden" name="user[{{ loop.index }}][id]" value="{{ user.id }}">
        <div class="form-group">
          <input class="form-control" type="email" name="user[{{ loop.index }}][email]" maxlength="60" value="{{ user.email }}" autocomplete="off">
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="user[{{ loop.index }}][admin]" value="admin" {{ checked(user.admin) }} {% if user.id == 1 %}disabled{% endif %}> Admin
          </label>
        </div>

        {% if user.id != 1 %}
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="user[{{ loop.index }}][deletable]" value="delete"> Delete
          </label>
        </div>
        {% endif %}

        <hr>
      </div>

      {% endfor %}
      <button class="btn btn-info btn-sm jsAddUser" type="button">Add</button>
      <button class="btn btn-success btn-sm" type="submit" name="button">Save</button>
    </form>
  </div>
  <div class="grid-cell">
    <p>* Add an email address of a user you would like to give access to the admin space. Admin users can modify menus.</p>
    <p>The first admin user cannot be deleted to avoid locking yourself out.</p>
  </div>
</div>



{% endblock %}