{% extends '@admin/admin_base.html' %} 
{% block title %}
User Management
{% endblock %}

{% block blurb %}
<p>Add a new user to manage the MYPIE website.</p>
{% endblock %}

{% block id %}users-home{% endblock %}

{% block body %}
<div class="page-section">
  <div class="grid-cell span"><h2 class=" page-title">Main Administrator</h2></div>
  <div class="grid-cell"> <strong>{{ users.default }}</strong></div>
  <div class="grid-cell"> <p>* This user cannot be deleted. 
      To change this email address,
      please contact Moritz Media.</p></div>
</div>

<div class="page-section">
  <div class="grid-cell span"><h2 class="page-title">Add a User</h2></div>
  <div class="grid-cell">
        <form action="{{ pathFor('saveUsers') }}" 
        id="user-emails" 
        method="post" 
        accept-charset="utf-8">

            {% for user in users.other %}
          
            <input type="email" name="email[]" maxlength="60" value="{{ user.email }}" autocomplete="off">
            <button class="btn btn-danger btn-sm"><a href="{{ pathFor('removeUser', {'id': user.id}) }}">Remove User</a></button>
            
            {% endfor %}
            <div class="addEmail">
            <input type="email" name="email[]" maxlength="60" value="" autocomplete="off" placeholder="Email address">
            </div>
            <button class="btn btn-success btn-sm" type="submit" name="button">Save</button>
            </form>
            
    </div>
    <div class="grid-cell"><p>* Add an email address of a user you would like to give access to the admin space. Note that they will have full access to everything.</p></div>
  </div>
</div>

  
{% endblock %}