button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* Basic Styles  and MaterializeCSS overrides */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  margin: .25rem !important; }

h2 {
  margin: .25rem !important; }

h3 {
  margin: .25rem !important; }

h4 {
  margin: .25rem !important; }

h5 {
  margin: .25rem !important; }

h6 {
  margin: .25rem !important; }

h1 {
  font-size: var(--font-size-6); }

h2 {
  font-size: var(--font-size-5); }

h3 {
  font-size: var(--font-size-4); }

h4 {
  font-size: var(--font-size-3); }

h5 {
  font-size: var(--font-size-2); }

h6 {
  font-size: var(--font-size-1); }

.wrapper {
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

section::after {
  display: block;
  content: "";
  height: 350px;
  width: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6); }

section#menu::after {
  background: url("../img/hot-pie-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

section#calendar::after {
  background: url("../img/aboutbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

section#newsletter::after {
  background: url("../img/mypie-pie1600x1068.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

section#newsletter::after {
  background: url("../img/mypie-pie1600x1068.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

section#contact::after {
  background: url("../img/mypie-pie1600x1068.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

section#full-calendar::after {
  background: url("../img/aboutbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

section#get-social::after {
  display: none;
  content: "";
  height: 350px;
  width: 100%;
  background: url("../img/aboutbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

/* footer */
.footer-boxes {
  border-radius: 3px;
  padding: 10px !important; }

/* Section: _nav.html    */
/*  _logo.html SVG */
/* Section: _header.html */
.logo-wrapper > svg {
  max-width: 100%; }

.logo-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 7px;
  padding-bottom: 7px; }

@media only screen and (min-width: 576px) {
  .logo-wrapper {
    max-width: 350px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; } }
/* Section: _menu.html   */
.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense; }

#pie-box {
  grid-column: span 2;
  grid-row: span 2; }

.menu-items {
  display: flex;
  flex-flow: row wrap; }

.menu-item-title {
  flex: 1.4;
  text-align: left; }

.menu-item-description {
  flex: 4; }

.menu-item-price {
  flex: 1; }

.collection-item {
  padding-left: 7px !important;
  padding-right: 7px !important; }

@media only screen and (max-width: 600px) {
  .menu-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-auto-flow: row; } }
/* Section: Calendars */
.calendar-wrapper-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: .25rem;
  justify-content: center;
  align-items: center;
  padding-top: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem; }

.calendar-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: .25rem;
  padding: 0.75rem 1rem;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #efefef; }

.calendar-day {
  color: #756d63; }

.prev-month {
  color: rgba(0, 0, 0, 0.2); }

.box {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  height: 100%;
  padding: 3px;
  background: #fff; }

.days {
  border: none;
  text-align: center; }

.day-content {
  display: block;
  text-align: center; }

.day-content a {
  font-size: .7rem; }

.today {
  background: rgba(237, 28, 36, 0.1); }

.calendar-day {
  color: #756d63; }

/* Section: _quick-calendar.html */
/* Section: _full-calendar.html */
#full-calendar .calendar-wrapper {
  grid-template-rows: repeat(6, 1fr); }

/* Section: _get-social.html */
.get-social {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem; }

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*# sourceMappingURL=main.css.map */
