<div id="current-menu">
  {% for menu in page.todaysMenus %} {# This next line summarizes and keeps a handy flag of which menu sections are available
  #} {% set available = availableMenuSections(menu.items) %}

  <!-- Start Menu Header -->
  <div class="daily-menu-each">
    <h2 class="page-title">{{ menu.location }} {{ menu.date|date('j F, Y') }}</h2>
    <a class="btn btn-primary btn-sm m-2" href="{{ pathFor('editMenu', {'id': menu.id}) }}">Edit This Menu</a>
    <a class="btn btn-success btn-sm m-2" href="{{ pathFor('editMenu', {'id': menu.id}) }}">Menu Board NEEDS A PAGE TO LINK TO</a>
    <div id="current-menu">
      <div class="current-menu">

        <!-- Daily Pies -->
        {% if available.dailypies %}
        <div class="grid-cell-inner">
          <h3 class="page-title">Pies</h3>
          {% for m in menu.items if m.section == 'dailypies' %}
          <div class="menu-item-wrapper">
            <div class="menu-item-each">
              {{ m.type }}
            </div>
            <div class="menu-item-each">
              {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
              {% endif %}
              <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <!-- Sides -->
        {% if available.sides %}
        <div class="grid-cell-inner">
          <h3 class="page-title">Sides</h3>
          {% for m in menu.items if m.section == 'sides' %}
          <div class="menu-item-wrapper">
            <div class="menu-item-each">
              {{ m.type }}
            </div>
            <div class="menu-item-each">
              {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
              {% endif %}
              <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}


        <!-- Sausage Rolls -->
        {% if available.rolls %}
        <div class="grid-cell-inner">
          <h3 class="page-title"> Sausage Rolls</h3>
          {% for m in menu.items if m.section == 'rolls' %}
          <div class="menu-item-wrapper">
            <div class="menu-item-each">
              {{ m.type }}
            </div>
            <div class="menu-item-each">
              {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
              {% endif %}
              <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <!-- Puds -->
        {% if available.puds %}
        <div class="grid-cell-inner">

          <h3 class="page-title">Puds</h3>
          {% for m in menu.items if m.section == 'puds' %}
          <div class="menu-item-wrapper">
            <div class="menu-item-each">
              {{ m.type }}
            </div>
            <div class="menu-item-each">
              {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
              {% endif %}
              <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <!-- Takeaway Pies -->
        {% if available.takeawaypies %}
        <div class="grid-cell-inner">
          <h3 class="page-title">Takeaway</h3>
          {% for m in menu.items if m.section == 'takeawaypies' %}
          <div class="menu-item-wrapper">
            <div class="menu-item-each">
              {{ m.type }}
            </div>
            <div class="menu-item-each">
              {% if m.sold_out == 'N' %} {% set status, label = 'Y', 'Sell Out' %} {% else %} {% set status, label = 'N', 'Sell In' %}
              {% endif %}
              <a class="btn btn-sm btn-info soldout-menu-item" href="{{ pathFor('soldOutMenuItem', {'id': m.id}) }}?status={{ status }}">{{ label }}</a>
            </div>
          </div>
          {% endfor %}

        </div>
        {% endif %}
      </div>
    </div>

  </div>




  {% else %}
  <h3 class="page-title">No menus for this date</h3>
  {% endfor %}
</div>