

    <h3 class="page-title">Menu Item Defaults</h3>
    
    <form class="menu-item-defaults" action="{{ pathFor('saveMenuItemDefaults') }}" method="post" accept-charset="utf-8">
      <a class="btn btn-warning" href="{{ pathFor('showMenus') }}">Cancel</a>
      <button class="btn btn-success" type="submit" name="button">Save All</button>
      <hr>
      {% for d in defaults %}
      <div class="border rounded p-2 mb-1 item-default">
        <input class="form-control" type="hidden" name="defaults[menu_item_default_id][]" value="{{ d.id }}">
        <div class="form-row">
          <div class="col-sm-4">
            <input class="form-control" type="text" name="defaults[kind][]" maxlength="20" placeholder="Type" value="{{ d.kind }}">
          </div>
          <div class="col-sm-4">
            <input class="form-control" type="text" name="defaults[price][]" maxlength="40" placeholder="Price" value="{{ d.price }}">
          </div>
          <div class="col-sm-4 optional-button">
            <a class="btn btn-danger delete-menu-item-default" href="#">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <button class="btn btn-success btn-block add-item-default-row" type="button">Add New Default</button>
      <hr>
      <a class="btn btn-warning" href="{{ pathFor('showMenus') }}">Cancel</a>
      <button class="btn btn-success" type="submit" name="button">Save All</button>
    </form>
 
