    <h3 class="page-title">Menu Item Defaults</h3>
    
    <form class="menu-item-defaults" action="{{ pathFor('saveMenuItemDefaults') }}" method="post" accept-charset="utf-8">
      <!-- <a class="btn btn-warning btn-sm" href="{{ pathFor('showMenus') }}">Cancel</a>
      <button class="btn btn-success btn-sm" type="submit" name="button">Save All</button>
      <hr> -->
     
      {% for d in defaults %}
     
      <div class="form-group element-section item-default">
        <input class="form-control" type="hidden" name="defaults[menu_item_default_id][]" value="{{ d.id }}">
        <input class="form-control" type="text" name="defaults[kind][]" maxlength="20" placeholder="Type" value="{{ d.kind }}">
        <input class="form-control" type="text" name="defaults[price][]" maxlength="40" placeholder="Price" value="{{ d.price }}">
        <button class="btn btn-danger delete-menu-item-default"><a href="#">Delete</a></button>
        
      </div>
      {% endfor %}
      <button class="btn btn-info btn-sm add-item-default-row" type="button"><a href="#">Add</a></button>
     <button class="btn btn-warning btn-sm"><a href="{{ pathFor('showMenus') }}">Cancel</a></button>
      
      <button class="btn btn-success btn-sm" type="submit" name="button"><a href="#">Save All</a></button>
    </form>

   
 
