

<div class="supplier-list-container">
    <h2 class="page-title">Suppliers List</h2>
  {% for s in page.supplierList %}
  <div class="supplier-each">
      <div class="supplier-name">
          <h3 class="supplier-title">
            {{ s.name }}
          </h3>
        </div>
        <ul class="supplier-list-icons jsSupplierParent">

          <li class="supplier-list-icon">
            <a href="{{ pathFor('editSupplier', {'id': s.id}) }}" data-toggle="tooltip" title="Edit this supplier">
              <i class="fas fa-2x fa-edit" alt="Edit supplier"></i>
              <div class="nav-description">Edit</div>
            </a>
          </li>
          <li class="supplier-list-icon">
            <a class="jsDeleteButton" href="{{ pathFor('deleteSupplier', {'id': s.id}) }}" data-toggle="tooltip" title="Delete this supplier">
              <i class="fas fa-2x fa-trash-alt" alt="Delete supplier"></i>
              <div class="nav-description">Delete</div>
            </a>
          </li>
          <li>
            <div class="supplier-list-icon">
              <div class="btn {% if s.published == 'Y' %}btn-success{% else %}btn-danger{% endif %} btn-sm jsPublishSupplier" data-id="{{ s.id }}" data-flag="{{ s.published }}" data-url="{{ pathFor('publishSupplier') }}">
                {% if s.published == 'Y' %}Unpublish{% else %}Publish{% endif %}
              </div>
            </div>
          </li>
        </ul>
  </div>

  {% else %}
  <h3>There are no suppliers</h3>
  {% endfor %}
</div>
