// #about-main {

//   .about-wrapper{
//     padding: .5rem;
//     margin-bottom: 1rem;
//     position: relative;

//      @media screen and(min-width: 768px){
   
//      }
//      img{
//        @include padding(.5rem null null);
//        box-shadow: var(--box-shadow);
//        border-radius: 30px;
//        float: left;
//        width: 40vw;
//        margin: 0 1rem 1rem 0;
//        @media screen and (min-width: 576px){
         
//        }
//      }
//      img:nth-child(even){
//        float: right;
//        margin: 0 0 1rem 1rem;
//      }
//   }


// }
#about-main{
   
 .about-card {
 }
 p{
  
 }
 h2{
     clear: both;
     background: var(--mypie-dark-grey);
     color: var(--mypie-light);
     @include padding(.5rem 1rem);

 }
 h5{
     clear: both;
     border-radius: 7px;
 }
 img{
     @include margin(1rem null);
     box-shadow: var(--box-shadow);
     object-fit: cover;
     float: left;
     @media screen and(min-width: 768px){
        width: 55vw;
        @include margin(null 1rem 1rem null);
     }
     @media screen and(min-width: 992px){
        width: 30vw;
        
     }

 }
 .about-content{
     overflow: hidden;
  
     clear: both;
     @include margin(1rem null 2.5rem);
 }
 
}