#events-main {

    .events-card{
        @include margin(3rem null);
    }
    .events-content{
        display: flex;
        flex-direction: column;  
    }
 
    img{
        box-shadow: $box-shadow;
        object-fit: cover;
        border-radius: $border-radius;
    }
    hr{
        @include margin(null 5rem);
    }
}

