// Events
#events-main {

    // @include margin(1rem null null);
    .events-card {
        @include margin(.5rem null);

        img {
            @include margin(null null 1rem);
            box-shadow: $box-shadow;
            object-fit: cover;
            border-radius: $border-radius;
            width: 100%;
        }
    }
}