// Events
#events-main {

    // @include margin(1rem null null);
    .events-card {
        @include margin(.5rem null);

        img {
            @include margin(null null 1rem);
            box-shadow: $box-shadow;
            object-fit: cover;
            border-radius: $border-radius;
            width: 100%;
        }
    }

    .page-title-blurb {
        background: $mypie-light-grey;
        @include padding(1rem 2rem);
        @include margin(null 3rem 1rem);
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        font-weight: 400;
        font-size: 1.2rem;
        text-align: center;

        p
        &:last-child {
            @include margin(0);
        }
    }
}