// Menu Archive Page

#menu-archive {
  * {
    border: none;
  }

  .card-deck {
    display: block;

    @supports (display: flex) {
      display: flex;
    }

    @supports (display: grid) {
      display: grid;
      grid-gap: .5rem;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      @include margin(0);
    }

    .card {
      background-color: $mypie-md-grey;
      box-shadow: $box-shadow;
      
      min-width: 300px;
      @include margin(1rem null);

      .card-title {
        background-color: $mypie-red;
        color: $mypie-dark;
        @include padding(.5rem null);
        @include border-radius(4px 4px 0px 0px);
        display: block;
        text-align: center;
      }
    }
  }
  .list-group-item{
    background: $mypie-light;
    @include margin(.25rem);
  }

  .pagination {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    @include margin(2rem null null);
    box-shadow: none;
  }
}