#store-main {

 .title-blurb {
  font-weight: 600;
  width: 90%;
  @include margin(0 auto 2em);
  font-size: 1.2rem;
  background: $mypie-light-grey;
  @include padding(1em);
  border-radius: $border-radius;
  text-align: center;
 }

}