//Suppliers Page
#suppliers-main {
  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 2rem;
  }
  .card {
    box-shadow: $box-shadow;
    height: 100%;
    .card-img-top {
      padding: 1rem;
      border-bottom: solid 2px $mypie-light-grey;
    }
    .card-body {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
    }
    .card-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      color: $mypie-dark-grey;
    }
    .card-footer {
      text-align: center;
    }
  }
}

// Supplier Details Page
#supplier-main {
  .container {}
  .supplier-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    @include margin(2rem null);
  }
  .logo-wrapper {
    @media screen and (min-width: 768px) {
      width: 400px;
      @include padding(1rem);
      @include margin(null 2rem 1rem null);
      float: left;
    }

    img {
      width: 100%;
    }
  }
  .supplier-blurb-wrapper {}
  .details-wrapper {
    a {
      color: $mypie-dark-grey;
      &:hover {
        color: $mypie-red;
      }
    }
  }
  .return-btn {
    @include margin(1.5rem null null);
  }
}