//Suppliers Page
#suppliers-main {
  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 2rem;
  }
  .card {
    box-shadow: $box-shadow;
    height: 100%;
    .card-img-top {
      padding: 1rem;
      border-bottom: solid 2px $mypie-light-grey;
    }
    .card-body {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: center;
    }
    .card-footer {
      text-align: center;
    }
  }
}

// Supplier Details Page
#supplier,
#biopac,
#albion,
#juniper,
#owtons {
  .supplier-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 2.5rem;
  }
  .col-left {
    display: flex;
    flex-flow: row wrap;
    .logo-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0 1rem;
    }
    .details-wrapper {
      text-align: center;
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin-top: auto;
      padding-bottom: 2rem;
    }
  }
  .return-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    a {
      color: $primary;
      font-size: 1.2rem;
    }
    .btn-return {
      padding: .5rem 2rem;
      background: red;
      &:hover {
        background: grey;
      }
    }
  }
}