#calendar {
  a {
    text-decoration: none;
    color: $mypie-dark-grey;

    &:hover {
      color: $mypie-red
    }
  }

  .calendar {
    font-size: 8px;
    @include padding(1.5rem 5px 1rem);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  .calendar__grid {
    @supports (display: gridd) {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: auto repeat(5, calc(50vh/6));
      grid-auto-rows: calc(50vh/6);
      grid-gap: 2px;
      position: relative;
    }
  }

  .calendar__dayname {
    float: left;
    width: calc(100%/7);
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    @include padding(.25rem null);
    border: solid $muted-grey 1px;
    border-radius: $border-radius;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @supports (display: gridd) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .calendar__day {
    float: left;
    width: calc(100%/7);
    height: calc(50vh/6);
    border: solid $muted-grey 1px;
    position: relative;
    text-align: center;
    border-radius: $border-radius;
    @supports (display: gridd){
      width: 100%;
      display: flex;
    }
  }

  h2 {
    font-size: 2.5rem;
    @include margin(0);
  }



  .today {
    background: rgba($mypie-red, 0.8);
    color: $mypie-light;
  }

  .today a {
    color: $mypie-light;

    &:hover {
      color: $mypie-dark;
    }
  }

  .prev-month {
    color: $mypie-light-grey;
  }

  .calendar__date {
    font-weight: 700;
    position: absolute;
    top: 2px;
    left: 3px;
    font-family: 'Montserrat', sans-serif;
  }

  .calendar__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    @include padding(1rem 3px);
  }

  /* Slick Arrows */
  .slick-prev,
  .slick-next {
    font-size: 0;
    position: absolute;
    border: none;
    background: none;
    z-index: 1;
    line-height: 1;
    color: rgba($mypie-dark, 0.3);
    top: 9px;
    transition: all 100ms ease-in-out;

    @media screen and (min-width: 768px) {
      top: 11px;
    }
  }

  .slick-arrow {
    background-color: $mypie-light !important;
    color: $mypie-dark !important;
    @include margin(-.5rem null null);
    @include margin(-5px null null);
  }

  .slick-prev:hover,
  .slick-next:hover {
    color: $mypie-red;
    transform: scale(1.3);
  }

  .slick-prev {
    left: 0.25rem;
  }

  .slick-next {
    right: 0.25rem;
  }

  .slick-prev::before {
    content: "\f104";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
    border: none;
  }

  .slick-next::after {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
    border: none;
  }

  button:focus {
    outline: none;
    color: $mypie-red;
  }
}