 //Footer Styles

footer {
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #fff;
  color: var(--mypie-light);
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  box-shadow: var(--box-shadow);
}

footer a {
  color: #fff;
  color: var(--mypie-light);
  text-decoration: none;
}

footer a:hover {
  color: #231f20;
  color: var(--mypie-dark);
}

//Top Footer Styles
.box-footer1 {
  background-image: url(../img/aboutbg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include padding(1rem null null);
  margin-bottom: -2px;
}

#contact-us,
#message-us,
#our-story {
  @include padding(null null 20px);
}

.get-social {
  display: flex;
  flex-flow: row nowrap;
}

.social-item {
  @include padding(10px);
}

// Footer Form Styles
.form-control {
  border: rgba(255, 255, 255, .6);
  border: var(--muted-accent-border);
}

.form-group textarea {
  resize: none;
  height: 84px;
}

// Submit Button
input[type="submit"] {
  background: #ed1c24;
  background: var(--mypie-red);
  color: #fff;
  color: var(--mypie-light);
  border: solid 0.1rem rgba(110,30,33,.5);
  border: var(--muted-accent-border);
  text-transform: uppercase;
  border-radius: var(--border-radius);
}

input[type="submit"]:hover {
  background: #6e1e21;
  background: var(--mypie-accent-red);
  color: rgba(255,255,255,.6);
  color: var(--muted-white);
}

input[type="submit"]:active {
  background: #231f20;
  background: var(--mypie-dark);
  outline: none;
}

// Placeholder Text
#contact-name::-webkit-input-placeholder,
#contact-email::-webkit-input-placeholder,
#contact-message::-webkit-input-placeholder {
  color: var(--muted-white);
  -webkit-transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
}

#contact-name:focus::-webkit-input-placeholder,
#contact-email:focus::-webkit-input-placeholder,
#contact-message:focus::-webkit-input-placeholder {
  color: rgba(167,167,167,.8);
  color: var(--muted-grey);
  opacity: .3;
}

// *********************
#contact-name:-moz-placeholder,
#contact-email:-moz-placeholder,
#contact-message:-moz-placeholder {
  color: rgba(255,255,255,.6);
  color: var(--muted-white);
  -webkit-transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
}

#contact-name:focus:-moz-placeholder,
#contact-email:focus:-moz-placeholder,
#contact-message:focus:-moz-placeholder {
  color: rgba(167,167,167,.8);
  color: var(--muted-grey);
  opacity: .3;
}

// *********************
#contact-name::-moz-placeholder,
#contact-email::-moz-placeholder,
#contact-message::-moz-placeholder {
  opacity: 1;
  color: rgba(255,255,255,.6);
  color: var(--muted-white);
  transition: opacity 500ms;
}

#contact-name:focus::-moz-placeholder,
#contact-email:focus::-moz-placeholder,
#contact-message:focus::-moz-placeholder {
  color: rgba(167,167,167,.8);
  color: var(--muted-grey);
  opacity: .3;
}

// *********************
#contact-name:-ms-input-placeholder,
#contact-email:-ms-input-placeholder,
#contact-message:-ms-input-placeholder {
  color: rgba(255,255,255,.6);
  color: var(--muted-white);
  -webkit-transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, color 500ms ease-in-out;
}

#contact-name:focus:-ms-input-placeholder,
#contact-email:focus:-ms-input-placeholder,
#contact-message:focus:-ms-input-placeholder {
  color: rgba(167,167,167,.8);
  color: var(--muted-grey);
  opacity: .3;
}


// ********* SECONDARY FOOTER ***********
// Secondary Footer Styles
.box-footer2 {
  background: #231f20;
  background: var(--mypie-dark);
  color: #756d6e;
  color: var(--mypie-dark-grey);
  font-weight: bold;
  @include padding(1rem null);
  text-align: center;
  p {
    @include margin(0);
    a {
      color: #8b9399;
      color: var(--mypie-md-grey);
    }
  }
}