// Get Social Buttons

.get-social-wrapper {
  background: pink;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.social-link {
  color: var(--mypie-red);
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.social-icon {
  flex: 1;

  align-self: center;
}
// Instragram Feed Styles

#instagram{
 
  @include padding(20px null);
}

