// Menu
// Menu Grid
@supports (display: grid) {
  .menu-wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "pie" "sides" "sausage" "puds" "takeaway";
  }
  @media screen and (min-width: 768px) {
    .menu-wrapper {
      grid-template-areas: "pie pie" "sides sausage" "puds takeaway";
    }
  }
  @media screen and (min-width: 992px) {
    .menu-wrapper {
      grid-template-areas: "pie pie sides" "puds sausage takeaway";
    }
  }
}

.pie-box,
.sides-box,
.sausage-box,
.puds-box,
.takeaway-box {
 
  border-radius: $border-radius;
  border: solid 1px rgba(167, 167, 167, 0.5);
  @include margin(null null 0);
}

.pie-box {
  grid-area: pie;
}

.sides-box {
  grid-area: sides;
}

.sausage-box {
  grid-area: sausage;
}

.puds-box {
  grid-area: puds;
}

.takeaway-box {
  grid-area: takeaway;
}

// menu items
.menu-title {
  @include border-top-radius(4px);
  background: $mypie-red;
  color: $mypie-light;
  @include padding(0.5rem);
  font-weight: 700;
}

.menu-items {
  display: flex;
  flex-flow: row nowrap;
  font-weight: 400;
  font-size: 0.9rem;
  &:nth-child(odd) {
    background-color: $mypie-light-grey;
  }
}

.menu-item {
  @include padding(0.4rem);
  line-height: 1.2;
}

.menu-item-title {
  flex: 1.2;
  text-align: left;
  font-weight: bold;
}

.menu-item-description {
  flex: 4;
  text-align: left;
}

.menu-item-price {
  flex: 0.75;
  font-style: italic;
  text-align: right;
}

.sold-out {
  text-decoration: line-through;
  color: $mypie-accent-red;
}

.sidebar-box {
  max-height: 400px;
  position: relative;
  overflow: hidden;
}

.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, black);
}