/* Section: _newsletter.html */

#newsletter form>div:first-child {
  display: none;
}

#newsletter h2 {
  @include margin(0px null);
  @include padding(0 null);
}

.newsletter-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.newsletter-signup-content {
  @include padding(null 10px);
  @include margin(null null -35px);
}

// Media Query 
@media screen and (min-width: 768px) {
  #newsletter h2 {
 
    @include margin(1.5rem null null);
    @include padding(null);
  }
  .newsletter-box{
   
    @include margin(-20px null null);
  }
  .newsletter-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
} 