{% extends '_sidebar_layout.html' %} {% block main %}
<div class="container border">
        <h2>MyPie Catering</h2>

        <div class="row">
                <div class="col-6">
                        <h3>Catering</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis ipsam veniam, voluptas velit nulla aspernatur dolore quae maiores numquam ex aliquam atque id exercitationem sunt quidem eius dolorum recusandae fuga.</p>
                </div>
                <div class="col-6">
                        <h3>Special Events</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, aut? Quas eveniet culpa modi laboriosam aut debitis repudiandae? Doloremque maiores quis officiis nostrum molestias ab veniam asperiores neque delectus, incidunt quasi recusandae minus accusamus illo! Eveniet natus in vel debitis.</p>
                </div>
        </div>

</div>

{% endblock %}