{% extends '_sidebar_layout.html' %} {% block main %}
<div class="container">

        <div class="card">
                <img class="card-img-top" src="assets/img/pie.jpg" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Catering</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>

        </div>
        <div class="card">
                <img class="card-img-top" src="assets/img/pie.jpg" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Special Events</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>

        </div>
        <div class="card">
                <img class="card-img-top" src="assets/img/pie.jpg" alt="Card image cap">
                <div class="card-body">
                        <h5 class="card-title">Festivals</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>

        </div>


</div>
<!-- <p class="lead">
{{ page.pagelets.news.content }}
</p> -->
{% endblock %}