{% extends '_sidebar_layout.html' %} {% block main %}
<div class="container">
        <h3>Catering</h3>
<p class="font1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tempora facere maiores aperiam accusantium nisi dolores, ab odit nostrum neque nemo suscipit voluptate, numquam molestias.</p>
<h3>Special Events</h3>
<p class="font2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda eos, earum rem est ducimus. Et quaerat odit, accusantium velit maiores iusto assumenda excepturi quo ratione.lor</p>
        <h3>Festivals</h3>
<p class="font3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ab eligendi facilis fugiat provident, voluptates optio laudantium, iste natus, atque numquam. Repudiandae impedit ratione laborum!</p>






</div>
<!-- <p class="lead">
{{ page.pagelets.news.content }}
</p> -->
{% endblock %}