<footer>
    <div class="box-footer1">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <h4>Our Story</h4>
                    <div class="box-footer-desc">
                        <p>We started MYPIE in London in 2014, selling our pies from a 1970's Bedford van. Now you can buy them
                            here, isn't that great?</p>
                        <p>At MYPIE, we don't just make pies. We lovingly create each flavour, each pie, one by one. It's no
                            wonder we're one of the most awarded pie makers in the U.K.</p>
                        <p>Our weekly changing menu uses primarily British products, and we can track each one right back to
                            the farm or brewery they come from. You don't often see that.</p>
                        <p>We love what we do and we're sure you will too.</p>
                    </div>
                    <div class="box-logo-footer">
                            <img src="assets/img/black-ep3.png" alt="MYPIE.LONDON">
                        </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <h4>Contact Us:</h4>
                    <div class="location">
                        <p>MYPIE
                            <br /> 60 Fendall Road
                            <br> Epsom, KT199NZ United Kingdom
                        </p>
                    </div>
                    <div class="phone">
                        <p>Phone:
                            <a href="tel:4164949999" title="">(416) 494-9999</a>
                        </p>
                        <p>Fax: (416) 597-0563</p>
                    </div>
                    <div class="email">
                        <a href="mailto:info@thecarbonaccountingcompany.com" title="">info@thecarbonaccountingcompany.com</a>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <h4>Message us:</h4>
                    <div class="screen-reader-response"></div>
                    <form id="contact-us">
                            <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Full Name">
                                  </div>
                            <div class="form-group">
                             
                              <input type="email" class="form-control" id="contact-email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                    <textarea name="your-message" cols="40" rows="5" class="" aria-required="true"
                                        aria-invalid="false" placeholder="Message"></textarea>
                                </div>
                               <div class="custom-button">
                                    <input type="submit" value="Submit">
                               </div>   
                          </form>
                </div>
            </div>
        </div>
    </div>

    <div class="box-footer2">
        <div class="container">
            <div class="row">
                <div class="col-12 center-align">
                    <p>© 2018 MYPIE. All rights reserved. Website designed by Moritz Media.</p>
                </div>
            </div>
        </div>
    </div>

</footer>