<section id="calendar">
        <div class="container">
            
            <h2 class="calendar-title">April 2018</h2>
           
                <div class="calendar-wrapper-days">
                    <div class="box days">
                        <h5>Mon</h5>
                    </div>
                    <div class="box days">
                        <h5>Tue</h5>
                    </div>
                    <div class="box days">
                        <h5>Wed</h5>
                    </div>
                    <div class="box days">
                        <h5>Thu</h5>
                    </div>
                    <div class="box days">
                        <h5>Fri</h5>
                    </div>
                    <div class="box days">
                        <h5>Sat</h5>
                    </div>
                    <div class="box days">
                        <h5>Sun</h>
                    </div>
                </div>

                <div id="full-calendar"class="calendar-wrapper">
                    <div class="box prev-month day01">
                        <h6 class="">26</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box prev-month day02">
                        <h6 class="">27</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box prev-month day03">
                        <h6 class="">28</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box prev-month day04">
                        <h6 class="">29</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box prev-month day05">
                        <h6 class="">30</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box prev-month day06">
                        <h6 class="">31</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day01 ">
                        <h6 class="calendar-day">01</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day02">
                        <h6 class="calendar-day">02</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day03">
                        <h6 class="calendar-day">03</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day04">
                        <h6 class="calendar-day">04</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day05">
                        <h6 class="calendar-day">05</h6>
                        <div class="day-content">
                            <a href="#">Broadgate</a>
                        </div>
                    </div>
                    <div class="box day06">
                        <h6 class="calendar-day">06</h6>
                        <div class="day-content">
                            <a href="#">Chiswick Park</a>
                        </div>
                    </div>
                    <div class="box day07">
                        <h6 class="calendar-day">07</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day08">
                        <h6 class="calendar-day">08</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day09">
                        <h6 class="calendar-day">09</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day10">
                        <h6 class="calendar-day">10</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day11">
                        <h6 class="calendar-day">11</h6>
                        <div class="day-content">
                            <a href="#">Paddington</a>
                        </div>
                    </div>
                    <div class="box day12">
                        <h6 class="calendar-day">12</h6>
                        <div class="day-content">
                            <a href="#">Broadgate</a>
                        </div>
                    </div>
                    <div class="box day13">
                        <h6 class="calendar-day">13</h6>
                        <div class="day-content">
                            <a href="#">Chiswick Park</a>
                        </div>
                    </div>
                    <div class="box day14">
                        <h6 class="calendar-day">14</h6>
                        <div class="day-content">
                            <a href="#">Fancy Fest</a>
                        </div>
                    </div>
                    <div class="box day15">
                        <h6 class="calendar-day">15</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day16">
                        <h6 class="calendar-day">16</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day17 today">
                        <h6 class="calendar-day">17</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day18">
                        <h6 class="calendar-day">18</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day19">
                        <h6 class="calendar-day">19</h6>
                        <div class="day-content">
                            <a href="#">Broadgate</a>
                        </div>
                    </div>
                    <div class="box day20">
                        <h6 class="calendar-day">20</h6>
                        <div class="day-content">
                            <a href="#">Chiswick Park</a>
                        </div>
                    </div>
                    <div class="box day21">
                        <h6 class="calendar-day">21</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day22">
                        <h6 class="calendar-day">22</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day23">
                        <h6 class="calendar-day">23</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day24">
                        <h6 class="calendar-day">24</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day25">
                        <h6 class="calendar-day">25</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day26">
                        <h6 class="calendar-day">26</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day27">
                        <h6 class="calendar-day">27</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day28">
                        <h6 class="calendar-day">28</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day29">
                        <h6 class="calendar-day">29</h6>
                        <div class="day-content"></div>
                    </div>
                    <div class="box day30">
                        <h6 class="calendar-day">30</h6>
                        <div class="day-content"></div>
                    </div>
                </div>
          

        </div>
    </section>