<section id="get-social">
    <div class="container">

        <h2>STAY CONNECTED</h2>

        <p class="">
            We love making new friends along the way. Follow us on our journey to feed the great people of London.
        </p>

        <ul class="get-social">
            <li class="social-item">
                <a target="_blank" href="https://twitter.com/MYPIE_LDN">
                    <div class="social-link">
                        <span class="ut-social-icon">
                            <i class="fab fa-twitter fa-4x"></i>
                        </span>
                        <h3 class="ut-social-title">Twitter</h3>
                        <span class="ut-social-info"> Follow us on twitter </span>
                    </div>

                </a>
            </li>
            <li class="social-item">
                <a target="_blank" href="https://www.facebook.com/pages/MYPIE/159272247437186">
                    <div class="social-link">
                        <span class="ut-social-icon">
                            <i class="fab fa-facebook fa-4x"></i>
                        </span>
                        <h3 class="ut-social-title">Facebook</h3>
                        <span class="ut-social-info"> Join The Conversation </span>
                    </div>
                </a>
            </li>
            <li class="social-item">
                <a target="_blank" href="http://instagram.com/mypie_ldn">
                    <div class="social-link">
                        <span class="ut-social-icon">
                            <i class="fab fa-instagram fa-4x"></i>
                        </span>
                        <h3 class="ut-social-title">Instagram</h3>
                        <span class="ut-social-info"> See More of Our photos </span>
                    </div>

                </a>
            </li>
        </ul>
    </div>
</section>

    <!-- Instagram Feed Section -->
    <div id="instagram">
            <div class="container-fluid">
                <div class="instagram-feed">
                    <!-- LightWidget WIDGET -->
    
                    <!-- LightWidget WIDGET -->
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="//lightwidget.com/widgets/23e3a851eb4d5c549f0853613d9d3ac6.html" scrolling="no" allowtransparency="true"
                        class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    
                </div>
            </div>
        </div>