<!-- Header -->

<!-- navbar -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand d-md-none" href="#">
        <!-- <h3>Award Winning Pies</h3> -->
        <img src="/assets/img/brand.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/suppliers">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events &amp; Catering</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link" href="#dailymenu">Daily Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact</a>
            </li>

        </ul>
    </div>
</nav>

<!-- Logo Wrapper -->

<div class="logo-container d-none d-md-block">
    <div class="lg-logo-wrapper">
        <!-- <img src="assets/img/myPieLogo.svg" alt=""> -->
    </div>
</div>