 <!-- Hero Section -->
 <section id="hero">
        <div class="section-inner">
            <div class="showcase-img">
                <img src="assets/img/pie2.jpg" alt="">
            </div>
            <div class="showcase-content">
                <h3>News</h3>
                <ul>
                    <li>Today we're at
                        <a href="#">Chiswick Business Park</a>
                    </li>
                    <li>Today's Menu
                        <ul>
                            <li>
                                <span class="strong">BEEF</span>: Lorem, ipsum dolor.</li>
                            <li>
                                <span class="strong">CHICKEN:</span> Lorem ipsum dolor sit.</li>
                            <li>
                                <span class="strong">VEGGIE: </span>Lorem, ipsum.</li>
                            <li>
                                <span class="strong">SPECIAL:</span> Lorem ipsum dolor sit.</li>
                            <li>
                                <a href="#dailymenu">Full menu here</a>
                            </li>
                        </ul>
                    </li>
                    <li>British Pie Awards - CHICKEN &amp; OTHER MEAT PIE CHAMPION 2018</li>
                    <li>Chris talks with biopac
                        <a href="http://www.biopac.co.uk/blog/my-pie-london/" target="_blank">here</a>
                    </li>
                </ul>

            </div>
        </div>


    </section>