
{% extends 'base_layout.html' %}

{% block body %}
    <!-- Hero Section -->
    {% include '/includes/_hero.html' %}

    <!-- Daily Menu -->
    {% include '/includes/_menu.html' %}

    <!-- Full Calendar -->
    {% import '/includes/_full-calendar.html' as calendar %}
    {{ calendar.schedule(page.calendar.thisMonth.month, page.calendar.thisMonth.days) }}
    {{ calendar.schedule(page.calendar.nextMonth.month, page.calendar.nextMonth.days) }}

    <!-- Newsletter Subscription -->
    {% include '/includes/_newsletter.html' %}

    <!-- Get Social & Instragram Feed Section -->
    {% include '/includes/_get-social.html' %}
 {% endblock %}

