 {% extends 'base_layout.html' %} {% block body %}

<!-- Hero Section -->
{% include '/includes/_hero.html' %}

<!-- Full Calendar -->
{% import '/includes/_full-calendar.html' as calendar %}

<section id="calendar">
  <div class="container">
    <h2 class="section-title">Calendar</h2>
  </div>
  <div class="container">
    <div class="slider single-item">
      {% for cal in page.calendar %} {{ calendar.schedule(cal.month, cal.days) }} {% endfor %}
    </div>
  </div>
</section>

<!-- Location Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="locationModalLabel">MYPIE Locations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          {{ page.pagelets.modal_locations.content_html }}

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary sm-btn" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<div class="container hero-container">
  <div class="jarallax">
    <img class="jarallax-img" src="{{ basePath() }}assets/img/mypie-pie1600x1068.jpg">
    <div class="hero-inner">
      <div data-jarallax-element="0" class="hero-content1">
        <p class="lead">Award winning pies &amp; sausage rolls freshly baked every day. Served up with awesome sides and real gravy.</p>
      
        <p class="lead">Served to you from our custom vintage airstream caravan or pie truck.</p>
      </div>
    </div>
  </div>
</div>

<!-- Newsletter Subscription -->
{% include '/includes/_newsletter.html' %}

<!-- Get Social & Instragram Feed Section -->
{% include '/includes/_insta-feed.html' %} {% endblock %}