{% extends 'base_layout.html' %}

    {% block body %}

    <h2>Menu for {{ menu.date|date('l, j F, Y') }}</h2>

    {% if menu.items %}

    <!-- Daily Pies -->
    {% for m in menu.items if m.section == 'dailypies' %}
    <div>
        {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
    </div>
    {% endfor %}
    <hr>

    <!-- Sides -->
    {% for m in menu.items if m.section == 'sides' %}
    <div>
        {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
    </div>
    {% endfor %}
    <hr>

    <!-- Sausage Rolls -->
    {% for m in menu.items if m.section == 'rolls' %}
    <div>
        {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
    </div>
    {% endfor %}
    <hr>

    <!-- Puds -->
    {% for m in menu.items if m.section == 'puds' %}
    <div>
        {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
    </div>
    {% endfor %}
    <hr>

    <!-- Takeaway Pies -->
    {% for m in menu.items if m.section == 'takeawaypies' %}
    <div>
        {{ m.type }} | {{ m.description }} | {{ m.price }}<br>
    </div>
    {% endfor %}

    {% else %}
    <strong>No menu items found for this date</strong>
    {% endif %}

    {% endblock %}

