<section id="dailymenu">
        <div class="container">
            <h2 class="center-align">Menu for April 19, 2018 </h2>
            <div class="wrapper z-depth-1">
                <div class="menu-wrapper">
                    <ul id="pie-box" class="collection with-header z-depth-1">
                        <li class="collection-header mypie-red white-text center-align">
                            <h4>Pie w/mash or salad + gravy</h4>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title"> BEEF:</div>
                                <div class="menu-item menu-item-description">Hampshire minced beef, black pud, Smoked cheddar </div>
                                <div class="menu-item right-align right-align menu-item-price">£7.50</div>
                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title">VEGGIE:</div>
                                <div class="menu-item menu-item-description">British Broccoli, shallots, stilton</div>
                                <div class="menu-item right-align menu-item-price"> £7.00</div>
                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title">CHICKEN:</div>
                                <div class="menu-item menu-item-description">Free range chicken, smoked ham, leek, tarragon (Class Champion)</div>
                                <div class="menu-item right-align menu-item-price">£7.50</div>
                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title">
                                    <p>GUEST:</p>
                                </div>
                                <div class="menu-item menu-item-description">Hampshire steak, green peppercorns, thyme</div>
                                <div class="menu-item right-align menu-item-price">£7.50</div>
                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title">
                                    <p>GUEST:</p>
                                </div>
                                <div class="menu-item menu-item-description">20 hour cider braised pork shoulder, bacon, onions</div>
                                <div class="menu-item right-align menu-item-price">£7.50</div>
                            </span>
                        </li>


                    </ul>
                    <ul id="sides-box" class="collection with-header  z-depth-1">
                        <li class="collection-header mypie-red white-text center-align">
                            <h4>Awesome Sides</h4>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">

                                <div class="menu-item menu-item-description"> Maris piper mash, butter, cream</div>

                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">

                                <div class="menu-item menu-item-description"> Salad: cucumber, tomato, feta, cous cous, spinach, olives</div>

                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">

                                <div class="menu-item menu-item-description">Peas</div>
                                <div class="menu-item right-align menu-item-price">50P</div>
                            </span>
                        </li>
                    </ul>
                    <ul id="sausage-box" class="collection with-header  z-depth-1">
                        <li class="collection-header mypie-red white-text center-align">
                            <h4>Sausage Rolls</h4>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">

                                <div class="menu-item menu-item-description">Free range pork and stilton</div>
                                <div class="menu-item right-align menu-item-price">£2.50</div>
                            </span>
                        </li>
                    </ul>
                    <ul id="puds-box" class="collection with-header z-depth-1">
                        <li class="collection-header mypie-red white-text center-align">
                            <h4>Puds</h4>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">

                                <div class="menu-item menu-item-description">Double choc and peanut butter brownie </div>
                                <div class="menu-item right-align menu-item-price">£2.50</div>
                            </span>
                        </li>
                    </ul>
                    <ul id="takeaway-box" class="collection with-header z-depth-1">
                        <li class="collection-header mypie-red white-text center-align">
                            <h4>Pies to takeaway</h4>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title"> BEEF:</div>
                                <div class="menu-item menu-item-description">Hampshire minced beef, black pud, Smoked cheddar </div>
                                <div class="menu-item right-align right-align menu-item-price">£6.00</div>
                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title">VEGGIE:</div>
                                <div class="menu-item menu-item-description">British Broccoli, shallots, stilton</div>
                                <div class="menu-item right-align menu-item-price"> £7.00</div>
                            </span>
                        </li>
                        <li class="collection-item">
                            <span class=" menu-items">
                                <div class="menu-item menu-item-title">CHICKEN:</div>
                                <div class="menu-item menu-item-description">Free range chicken, smoked ham, leek, tarragon (Class Champion)</div>
                                <div class="menu-item right-align menu-item-price">£7.50</div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>