{% extends '_sidebar_layout.html' %} {% block main %}
<div class="container border">
        <h2>MyPie News</h2>
<ul>
    <li class="news-link">
        <a href="http://perimoritz.com">
            <p>Here is a link to some news that you might be interested in</p>
        </a>
    </li>
    <li class="news-link">
        <a href="http://perimoritz.com">
            <p>Here is a link to some news that you might be interested in</p>
        </a>
    </li>
    <li class="news-link">
        <a href="http://perimoritz.com">
            <p>Here is a link to some news that you might be interested in</p>
        </a>
    </li>
</ul>

</div>

{% endblock %}