<section id="newsletter">
    <div class="container container-home">
        <div class="newsletter-wrapper">
            <div class="newsletter-box">
                <script src="https://newslettertool2.1und1.de/subscriber-frontend/form.js" type="text/javascript"></script>
                <br />
                <script type="text/javascript">
                    // <!&#091;CDATA&#091;
                    NLT.render('772f37da-6b5f-47fc-998b-0846eb395de8');
                    // &#093;&#093;>
                </script>
            </div>
            <div class="newsletter-box">
                <h3>the box with text</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae deleniti possimus quasi qui adipisci eligendi in cumque eius modi labore corrupti veniam optio dolorem est, amet, quos mollitia numquam dicta accusantium, accusamus quisquam nobis cum odit repellat? Sequi cupiditate numquam iste nemo eligendi? Voluptates repudiandae voluptatum at aut nisi facere!</p>
            </div>
        </div>
    </div>
</section>