<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="google-site-verification" content="FbJhBzSYk2dnYjdIOpv5_rNWvHogHwKYLJ7ivXeO9BM">

    {% include '/includes/_favicon.html' %}

    <title>{% block title %}{% endblock %} | MYPIE London</title>
    {% endblock %}
    <!-- Google Font Base -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <!--FontAwesome-->
    <script defer src="{{ basePath() }}/assets/fonts/fa-5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="{{ basePath() }}/assets/slick/slick.css">
    <link rel="stylesheet" href="{{ basePath() }}/assets/css/main.css">

</head>

<body>
      <!-- Logo and Navbar -->
      {% include '/includes/_header.html' %}

    {% block body %}

    {% endblock %}

    <!-- Footer Section -->
    {% include '/includes/_footer.html' %}
    <!-- Bootstrap Script Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="assets/slick/slick.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ basePath() }}/assets/object-fit/dist/ofi.min.js"></script>
    <script src="{{ basePath() }}/assets/jarallax/dist/jarallax.js"></script>
    <script src="{{ basePath() }}/assets/jarallax/dist/jarallax-element.min.js"></script>
    <script src="{{ basePath() }}/assets/js/javascript.min.js"></script>

     <!-- Cookie Consents -->
     <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
     <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
     <script>
     window.addEventListener("load", function(){
     window.cookieconsent.initialise({
       "palette": {
         "popup": {
           "background": "#000"
         },
         "button": {
           "background": "#f1d600"
         }
       },
       "theme": "classic",
       "position": "bottom-left"
     })});
     </script>
    {% if setting.production %}
    <!-- Default Statcounter code for Mypie.london
    http://mypie.london -->
    <script type="text/javascript">
    var sc_project=11824988;
    var sc_invisible=1;
    var sc_security="33a81783";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="http://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="//c.statcounter.com/11824988/0/33a81783/1/" alt="Web
    Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->
    {% endif %}

</body>

</html>