body{
    margin-top: 80px;
    font-family: 'Montserrat', sans-serif;
    color: var(--mypie-dark-grey);
}
// global styles
.page-title {
    display: block;
    border-bottom: solid 1px rgba(0,0,0,.08);
    @include margin(1rem null);
}

.link-container {
    display: block;
    position: relative;
    flex-flow: row wrap;
    background: #efefef;
    @include padding(.5rem);
    @include margin(1rem nul);
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);

    & a{
        color: #6e1e21;
        text-decoration: none;
        font-size: 1.2rem;
   
        // padding-top: 5px;
    }
    & a:hover {
        color: #ed1c24;
    
    }
}
// Menu Management Section

.menu-link a {
    font-size: 1.3rem;

}
.menu-actions  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.menu-icon {
    @include padding(1rem);
}



