
// Footer Styles
footer {
    background-color: var(--mypie-red);
    height: 10rem;
    padding: 2rem;
    color: var(--light);
  }
  .footer-boxes {
    border-radius: 3px;
    padding: 10px !important;
  }