// Header & Nav Styles

// Logo Styles
.logo-container {
  @include padding(5px null);
}
.lg-logo-wrapper {
  width: 100vw;
  height: 250px;
  margin: auto;
  background: url("../img/myPieLogoWide.svg") no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}
.lg-logo-wraper img {
  width: 100%;
}

// Navbar Custom Styles
nav {
  @include padding(0.1);
  box-shadow: var(--box-shadow);

}
.bg-dark {
  background: var(--mypie-red) !important;
}
.nav-link a {
  font-size: 1rem;
}

//Navbar Brand Sizing
.navbar-brand img {
  height: 80px;
  width: auto;
  // background: pink;
  @include padding(3px null null);
}

// Customized Hamburger Icon

button.navbar-toggler {
  color: var(--light);
}
button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: 3px solid var(--mypie-red);
  outline-offset: 2px;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: var(--mypie-red);
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

// Hero Section
.jumbotron {
  paddding-bottom: 1px !important;
  background-image: url("../img/showcase.jpg");
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  text-align: center;
}

.jumbotron-heading {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 100vw;
  background: rgba(255, 255, 255, 0.1);
  @include padding(2rem 1rem);
  color: white;
}

.jumbotron p {
  color: var(--mypie-light);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
