// Header & Nav Styles
// Logo Styles
.logo-container {
  @include padding(5px null);
}

.lg-logo-wrapper {
  width: 100vw;
  height: 250px;
  margin: auto;
  background: url("../img/myPieLogoWide.svg") no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

.lg-logo-wraper img {
  width: 100%;
}

// Navbar Custom Styles
nav {
  // @include padding(0.1);
  box-shadow: var(--box-shadow);

}

.bg-dark {
  background: var(--mypie-red) !important;
}

//Navbar Brand Sizing
.navbar-brand img {
  height: 80px;
  width: auto;
  @include padding(3px null null);
}
.navbar a {
  font-size: 1.1rem !important; 
}
// Customized Hamburger Icon
button.navbar-toggler {
  color: var(--light);
}

button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: 3px solid var(--mypie-red);
  outline-offset: 2px;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: var(--mypie-red);
  color: #fff;
}


// Hero Section
.jumbotron {
  padding-bottom: 1px !important;
  background-image: url("../img/hot-pie-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.jumbo-inner {
  background: rgba(0, 0, 0, .08);
  border-radius: var(--border-radius);
  @include padding(1rem);
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron p {
  color: var(--mypie-light);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1 {
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: var(--mypie-light);
}