/* Section: _menu.html   */

.menu-wrapper {
  display: block;
}
.menu-items {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
}
.menu-item {
  @include padding(null 0.3rem);
}
#pie-box,
#sides-box,
#sausage-box,
#puds-box,
#takeaway-box {
  @include padding(null null 1rem);
}
.menu-title {
  border-radius: var(--border-radius);
  background: var(--mypie-red);
  color: var(--mypie-light);
  @include padding(0.5rem null);
  font-weight: 700;
}
.menu-item-title {
  flex: 1.2;
  text-align: left;
  font-weight: bold;
}

.menu-item-description {
  flex: 4;
}

.menu-item-price {
  flex: 0.75;
  font-style: italic;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #pie-box,
  #sides-box,
  #sausage-box,
  #puds-box,
  #takeaway-box {
    @include padding(null null 0.1rem);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px 1fr));
    grid-gap: 0.5rem;
  }
  #pie-box {
    grid-column: 1 / span 2;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
