/* Section: _menu.html   */

.menu-wrapper {
  display: block;
}
.menu-items {
  display: flex;
  flex-flow: row nowrap;

}
.menu-item {
  @include padding(null 0.3rem);
}
#pie-box,
#sides-box,
#sausage-box,
#puds-box,
#takeaway-box {
  @include padding(null null 1rem);
  @include border-radius(7px);
  border: solid 1px #000;
  @include margin(null null 1rem);
}
.menu-title {
  @include border-top-radius(7px);
  background: var(--mypie-red);
  color: var(--mypie-light);
  @include padding(0.5rem null);
  font-weight: 700;
}
.menu-item-title {
  flex: 1.2;
  text-align: left;
  font-weight: bold;
}

.menu-item-description {
  flex: 4;
}

.menu-item-price {
  flex: 0.75;
  font-style: italic;
}
