/* Section: _newsletter.html */

#newsletter form>div:first-child {
  display: none;
}

.newsletter-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  @include padding(20px null);
  justify-content: center;
  align-items: center;


}
@media screen and (min-width: 576px){
  grid-template-columns: 1fr;

}
.newsletter-box {
  @include padding(10px);
  @include margin(0);

}